[2019-07-08 17:25] Tonylayton1 commented on #169
Addressed by issue #55 , which is verified on dev

[2019-07-08 17:27] Tonylayton1 commented on #61
Cannot replicate. If 5.G (previously 5.F) is marked as a failure, it correctly does not give the format instructions in the error messages. Note: manually toggling 5.G to NC may cause issues, as the ID is wrapped up with other IDs.

[2019-07-08 17:40] Tonylayton1 commented on #203
Verified on Dev

[2019-07-08 18:10] Tonylayton1 commented on #206
To address 4.E, change the timeout message in the 10 second and 20 second popups to say "any key" instead of "continue". should say "Select any key to remain on this page and complete the form."

For the three 4.F issues:
a) It looks like 4.F should also include any fields that aren't keyboard accessible. To address this, r2_6 would need to be added to the list of 4.F failures, and 4.A would need

[2019-07-08 18:46] Tonylayton1 commented on #205
Verified that all failure details pages use the following format:
Select all Elements that fail Test ID X.

There is a brief description of the ID's requirements below this, which has always been there. If specific IDs need exceptions to the above format, please reopen and specify which ones, otherwise this is verified on Dev.

[2019-07-08 18:56] AnnMarieDavis opened #216 "Topic 17 Incremental Exam typos"
## Issue Type (put an X between the brackets to indicate issue type)
- [X] Typo/grammar

## Description
Two small typographical errors:
1. In the Advantages of certification section. change "it" to "is" so the second sentence is "After an audit is performed, your..."
![2019-07-08_change it2is](https://user-images.githubusercontent.com/31414225/60835154-701fb700-a190-11e9-8d27-2195ab2eee72.png)

2.

[2019-07-08 19:02] mikebarklage commented on #206
Updated the timeout message on incremental/practice/final exams to say "any key."

[2019-07-08 19:04] mikebarklage commented on #216
Typos are fixed on dev.

[2019-07-08 19:06] AnnMarieDavis opened #217 "Topic 13.B Change to all answer sheets"
## Issue Type (put an X between the brackets to indicate issue type)
-- [x ] Other, specify...[clarify test instructions for how to mark answers]

## Description
[Students are confused about what to mark when they have a failure for 13.B. Some are marking the element being referred to using sensory characteristics.  Students need to mark the INSTRUCTIONS that rely solely on sensory characteristics

[2019-07-08 19:08] drewnielson commented on #206
Agree with language change in the timeout warning. That should make the interaction clearer.

Agreed with point in a), at least in this instance would make sense, given how the student is identifying the issues.

I also cannot replicate b). The section displays after selecting the Get Super-Certified checkbox. I'll investigate further on Ann Marie's machine.

[2019-07-08 19:11] mikebarklage commented on #216
Note that change #1 affects topics 10-15, not topic 17.

[2019-07-08 19:15] drewnielson commented on #206
Disregard comment related to b) - content not displaying after selecting the Get Super-Certified checkbox. Unable to reproduce on Ann Marie's computer now too.

[2019-07-08 19:18] mikebarklage commented on #206
Just to check, the changes so far are:

1. Add r2_6 to the answers for 4.F

2. 4.A, 4.C, 4.F, 4.G, and 4.H should all be linked as NC or C together (adding 4.A to that list)

[2019-07-08 19:33] Tonylayton1 commented on #206
Including the timeout text change, yes that should be it.

[2019-07-08 19:35] AnnMarieDavis opened #218 "Topic 13 Incremental Exam changes for clarity"
## Issue Type (put an X between the brackets to indicate issue type)
- [ X] Other, specify...[clarify page issues that are causing confusion with students]

## Description
Students are not selecting the correct answer and sample needs to be more clear cut.

## Location
[http://3.217.25.10/dhsv5/dhscourse/Lesson1/exams/web-incremental/testPages/page2_main.php?studentEmail=annmarie.davis@associates.

[2019-07-08 19:58] mikebarklage commented on #206
OK, these changes are done. Don't forget to clear data for topic 4 exams for testing.

[2019-07-08 21:42] Tonylayton1 opened #219 "Video autoplay in Chrome and Firefox"
Issue Type (put an X between the brackets to indicate issue type)
- [X] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

Description
The autoplaying video function used for testing 2.A/2.B is counter

[2019-07-09 11:27] AnnMarieDavis opened #220 "Button names on media player"
## Issue Type (put an X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [x] Other, specify...[media player button purpose is unclear to some students]

## Description
[Some students have been confused about the button labe

[2019-07-09 13:06] drewnielson commented on #215
I think this could have happened due to the update two Fridays ago. If you had started an incremental exam before the update but hadn't cleared the exam results in the admin tool before completing the exam or starting a new one. Let's make sure we clear the results for any exam before starting a new one and then try to see if we can replicate.

[2019-07-09 13:08] drewnielson commented on #213
Thanks @CLAMBne508. We are already aware of this and working on resolving. Marking this issue as closed - not because it is fixed yet, but because we have already documented this issue in issue #166.

[2019-07-09 13:08] #213 closed

[2019-07-09 13:37] AnnMarieDavis opened #221 "Unique Exam Instructions"
This is opening a new issue per Mike Barklage's comments for: Changes for “Fail”answer sheets in Incremental Exams. #205

## Issue Type (put an X between the brackets to indicate issue type)
- [X ] Other, specify...[students do not know how to appropriately mark answer sheets for the correct answer]

## Description
Students often can verbally identify the failure, but are missing the test conditio

[2019-07-09 13:44] AnnMarieDavis commented on #205
Verified text has been changed for all answer sheets removing the NC text and using FAILS.
Issue [#221] has been opened for keyboard answer sheets that require more detailed instructions.

[2019-07-09 13:44] #205 closed

[2019-07-09 13:58] AnnMarieDavis commented on #203
Retested http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-incremental/testPages/index.php?studentEmail=annmarie.davis@associates.hq.dhs.gov&SCOInstanceID=100&examId=3 and both 2.A and 2.B are correctly marked C.

[2019-07-09 13:58] #203 closed

[2019-07-09 14:11] AnnMarieDavis commented on #211
Just clicking the link opens it... users should not select open in a new window

[2019-07-09 14:11] #211 closed

[2019-07-09 14:41] drewnielson commented on #61
Closing the issue. I think @AnnMarieDavis's issue was unrelated to original issue and due to a misunderstanding of the content. As for the original, since we cannot replicate, we cannot adequately address. Will reopen or will open a new issue when/if we can better identify.

[2019-07-09 14:41] #61 closed

[2019-07-09 14:49] katbecker commented on #208
Yes, it does have to be corrected in the ELIS plug in (and I'd addressed this with Moonami last Fall but it was deemed less important). I will see if there is a solution without creating a hook.

[2019-07-09 14:55] katbecker commented on #170
Sadly, Moodle lacks a strong a11y group. I'll see what can be done. We should be able to manipulate the plug in php with a hook to add an alt (I take it you're putting in a forum with advanced search).

[2019-07-09 14:58] katbecker commented on #155
Yes. This is a core admin function (versus something with the forum). Side note: if we are updating to core 3.7 we may want to wait to see if some of these things have been addresses.

[2019-07-09 16:18] katbecker commented on #208
Yes, can be edited from the front end (Language customization -> en_us -> choose and edit strings). I customized the elis set of strings. Since "enrol" is widely used (and correct option is supplied on many strings) this may show up elsewhere. This particular instance ready for review.

[2019-07-09 16:21] mikebarklage commented on #214
I darkened the grey bg color so it passes the contrast test. You may need to refresh your local cache to see the change to #707070.

[2019-07-09 17:29] Tonylayton1 commented on #206
Verified on Dev

[2019-07-09 17:32] AnnMarieDavis commented on #169
Verified the answer sheet has changed.

[2019-07-09 17:32] #169 closed

[2019-07-09 18:26] mikebarklage commented on #221
Adding from ticket #217:

Change the instructions for marking failures on ALL EXAMS (Incremental, Practice and Final) to:
**Select the instructions that FAIL Test ID 13.B. (Do not mark the element being referenced in the instructions.)**

[2019-07-09 19:04] Tonylayton1 commented on #219
To address incremental topic 2:
Add a mute button to the multimedia video to the right of the AD button. This may require the buttons to be repositioned slightly. Change the video auto play so that it starts the video muted. Lastly, remove the "Pause Autoplay" button that was recently added. This was to address the passing version of 2.A, which is no longer applicable.
- 2.A answer will now always

[2019-07-09 19:40] mikebarklage commented on #221
Are there any unique instructions I'm missing, or is it just these six?

[2019-07-09 21:03] AnnMarieDavis commented on #206
I retested. For 4.F - The focus order preserves the meaning and operability of the Web page.
a)	Company phone is skipped after HR Email form field and before Company Address. All other answers ask students to choose the LAST item that received focus. The correct choice for that instance should be HR Email rather than Company Phone.
![Issue 206 for 4F](https://user-images.githubusercontent.com/3141

[2019-07-09 21:34] mikebarklage commented on #221
I have updated the instructions for these IDs on dev.

[2019-07-09 21:50] Tonylayton1 commented on #221
Currently, both 4.G and 4.H are handled the same way for scoring - the correct answer is the button that initiated the unexpected focus. It seems strange that they should be reported differently.

That said, assuming the above instructions, the following answers should be updated:
4.F: correct failure answers should change from r2_06, r2_09, and r3_01 to r2_05, r2_09, and r3_01 (remove r2_06 and a

[2019-07-09 21:52] Tonylayton1 commented on #206
this is addressed in issue #221 which specifies the reporting instructions - if everything else from this issue is resolved then this can be closed.

[2019-07-09 22:05] AnnMarieDavis commented on #55
the answers for the incremental did not line up with the Test IDs on my attempt this evening and page content shifted... may be a VPN issue, so I will clear testing cache and retake this in the morning...

[2019-07-09 22:06] Tonylayton1 commented on #216
verified on dev

[2019-07-09 22:07] Tonylayton1 commented on #214
verified on dev, it is now 4.95:1

[2019-07-09 22:31] Tonylayton1 commented on #218
1: Added these to the randomization document. I'm assuming that this sentence should be randomized though. Failure if it is present, DNA if it is not? please advise if this is not correct.

implications:
13.B is no longer linked to 15.B and 10.D, and randomized by itself
New randomized sentence
new correct answer for 13.B when failed: r4e03

2: Mike, I made a new png for the line graph. please rep

[2019-07-09 22:36] Tonylayton1 commented on #217
recommend closing, as this is covered now in #221

[2019-07-10 00:04] mikebarklage commented on #220
Not quite ready for QA yet, but FYI, instead of On or Off, I'm adding a check mark next to Closed Captions or Audio Description to signify they're on.

I'm also keeping the underlining because that's how the JS code knows whether to have those functions active or not in the video. (The underlining itself isn't necessary, it's whether the CSS class has been applied or not, but I don't see anything

[2019-07-10 13:05] AnnMarieDavis commented on #217
Applied to incremental, practice and final.

[2019-07-10 13:05] #217 closed

[2019-07-10 13:13] AnnMarieDavis commented on #214
Contrast in iframe now passes

[2019-07-10 13:13] #214 closed

[2019-07-10 13:29] AnnMarieDavis commented on #216
Verified.

[2019-07-10 13:29] #216 closed

[2019-07-10 13:36] AnnMarieDavis commented on #206
The instructions are addressed in #221, however the issue here is that the wrong element is referenced in the answer key. Instead of "company phone", the answer should be "HR element"

[2019-07-10 13:42] AnnMarieDavis commented on #220
Mike,
A check mark alone will not meet the requirement since all screen readers may not be able to read the symbol.  You should also add an ARIA described by label.

Kind Regards,
Ann Marie

iPhone: 202-815-5428
Room 2020-07
annmarie.davis@associates.hq.dhs.gov<mailto:annmarie.davis@associates.hq.dhs.gov>

[cid:42523328-67EE-43C4-AC62-F470BA4429D1]
      [2018 Leading Disability Employer Seal]

Fr

[2019-07-10 14:24] Tonylayton1 commented on #206
to clarify, yes I added what you have described to that issue, because multiple answers were affected by the updated instructions (4.F and 4.H)

[2019-07-10 14:33] AnnMarieDavis commented on #221
According to the test process, the response for 4.H: should remain r3_01 (it returns to the element that closed the revealed content)

Kind Regards,
Ann Marie

iPhone: 202-815-5428
Room 2020-07
annmarie.davis@associates.hq.dhs.gov<mailto:annmarie.davis@associates.hq.dhs.gov>

[cid:42523328-67EE-43C4-AC62-F470BA4429D1]
      [2018 Leading Disability Employer Seal]

From: Tonylayton1 <notifications@

[2019-07-10 14:37] Tonylayton1 commented on #221
Oh I see, I was thinking it would be the next object but you're right it wouldn't force focus like that.

Mike, if you haven't made that change yet, only 4.F should be updated (see above) - the correct answer for 4.H should remain r3_01. I'll update the documents accordingly.

[2019-07-10 15:35] drewnielson commented on #220
Alternatively, an aria-label=“Closed Captions On” and aria-label=“Audio
Description On” for those buttons when the check mark is displayed would
override the inner text of the button so a screen reader would get the
benefit of the aria-label instead of the text with the check mark. While
we’re at it, might also want to add aria-labels to indicate off when the
check marks are not present on the but

[2019-07-10 16:18] AnnMarieDavis commented on #215
I had this happen again today (7/10/2019) while I was retesting Topic 5. I saw results (as a student) after submission, but then could not pull up the results in the Admin Tool.

[2019-07-10 16:22] mikebarklage commented on #220
OK, then I have to doublecheck: does "Closed Captions On" mean "the closed captions are currently on" or "click this button to turn on closed captions?"

If it's the former, I might go with "Closed Captions: On" with a colon.

[2019-07-10 16:25] mikebarklage commented on #219
This is finished on Dev but should be QAd concurrently with #220 .

[2019-07-10 16:32] mikebarklage commented on #221
OK, I changed the 4.F answer from r2_6 to r2_5.

[2019-07-10 16:38] vprentice opened #222 "Data Table language change Lesson 3."
Issue Type - [X ] Incorrect content

Description
I noticed this morning while going through the Data Tables Lesson 3: Layout Table section how to test that there seems to be slight issue with the text that  is shown in the directions.  Below the ANDi output , the note states that the
 “ You are looking for “Element: role=table, ”Not “Element:<table>.”

![image](https://user-images.githubuserconten

[2019-07-10 16:39] mikebarklage commented on #219
I also removed the 2.A/2.B link so 2.B will randomize on its own.

[2019-07-10 16:51] AnnMarieDavis commented on #122
I verified that both 1.A and 1.E were added to the test results page.

Still needed is to REMOVE the FAIL column on the answer sheet. This Topic is a little different than ALL the others.  **There should be only a column for DNA or Pass.**  In this case if the Test condition is a FAIL, then the result is DNA - there is not a compliant version.

So check that (1) all correct answers are DNA and tha

[2019-07-10 17:38] AnnMarieDavis commented on #222
Both data tables and layout tables may use the element of <table> alone.

Modified the text for clarity adding sentences in parenthesis below in layout tables lesson.
**Note**: You are looking for “Element: role=table,” not “Element: <table>.” (The use of the ARIA  "role=table"  is used to identify a data table. This element should never be used on a layout table.)

[2019-07-10 17:38] #222 closed

[2019-07-10 17:48] drewnielson commented on #166
Fixed!

[2019-07-10 17:48] #166 closed

[2019-07-10 17:50] drewnielson commented on #213
Fixed (via issue #166 ). @CLAMBne508, you should see the "Passed" status on your dashboard now.

[2019-07-10 17:51] drewnielson commented on #155
Agreed. Let's hold off until after we upgrade and re-test these two issues. Confirmed with Moonami yesterday that we are upgrading to version 3.5 (not 3.7 yet).

[2019-07-10 17:52] drewnielson commented on #170
Right, adding in a forum with Advanced search. Let's hold off until after the upgrade to version 3.5, then re-test to see if it is still an issue.

[2019-07-10 18:12] drewnielson commented on #215
This usually happens for me only when I have opened a new exam but have not
yet saved any answers. Let’s walk through this together on your computer.

[2019-07-10 18:14] drewnielson commented on #220
Yes, good point. I would go with the former, so I like adding the colon:
“Closed Caption: On/Off”

[2019-07-10 19:19] drewnielson opened #223 "Make book, knowledge check, and incremental exam links headings"
## Issue Type (put an X between the brackets to indicate issue type)
- [X] Other, specify: Enhancement request

## Description
Making the links for the topic books, knowledge checks, and exams headings would make course navigation much easier for screen reader users.

## Expected Behavior / Recommendation
On course main page, make topic book, knowledge check, and incremental exam links `<h4>` elem

[2019-07-10 19:24] mikebarklage commented on #220
OK, these changes should be done.

I also updated the Rewind/Forward buttons on page 3 and the Rewind/Forward exam checkboxes for both pages.

I added aria-labels to the CC/AD buttons that change when clicked. ANDI doesn't pick up on the changes right away, though - if I click away and then back to the list of buttons, I see the new aria-label text.

[2019-07-10 19:38] AnnMarieDavis commented on #122
Consulted with Andrew and the Test Results for Topic 1 should not be provided at all to students.  Remove this from the pages presented on the Practice and Final exam. **Replace the "Enter Results" button with "Omitted from Exam" text.**  (much like the text you have for 3 Flashing and 20 Parsing, but do not use "not tested")

[2019-07-10 19:40] HD508Github opened #224 "TTv5: Topic 17: Grammatical Error"
Location: Topic 17 > Summary
URL: https://training.section508testing.net/mod/book/view.php?id=1274&chapterid=3146
Issue:  Under the 'Identifying content' section, under the third bullet, there is a grammatical error. The word 'is' should be removed.  The sentence should read: "...This control allows the user to choose what presentation, or portion of a longer presentation,..."

![image](https://us

[2019-07-10 19:45] mikebarklage commented on #218
This is mostly done, except I've kept the 13.B randomization choices as C, not DNA.

I removed the NC options from topic 10 and 15 since they are no longer linked. As of now, 13.B is either C or NC for Topic 13, and always C for all other incrementals.

What if anything should change?

[2019-07-10 19:47] drewnielson commented on #224
Fixed

[2019-07-10 19:47] #224 closed

[2019-07-10 19:53] drewnielson commented on #220
Right, ANDI doesn’t play well with dynamic content yet. For each change in
content on the page, you have to click the refresh ANDI button in the ANDI
pane. We have given instructions to the students to that effect though, so
they should be aware they need to refresh ANDI to get info for
updated/changed content.

[2019-07-10 21:40] Tonylayton1 commented on #220
verified on dev

[2019-07-10 22:08] Tonylayton1 commented on #221
Verified on Dev

[2019-07-10 22:12] Tonylayton1 commented on #218
Correction: the correct answer for 13.B should be r4_02, not r4_03 as I mistakenly identified above.

Question to OAST: If the line of text which specifies a positional meaning is not present, would 13.B be DNA or C?

[2019-07-10 22:17] Tonylayton1 commented on #219
Issue with 2.B:
When 2.B is supposed to fail, the play/pause button should be missing. Currently it is always present.

[2019-07-10 22:19] Tonylayton1 opened #225 "Closed captioning text in Firefox"
The displayed captions when the CC button is activated vary in size and position depending on the browser. Specifically in Firefox, they are very small and significantly below the video player.

[2019-07-10 22:37] mikebarklage commented on #225
I noticed that today, but wasn't sure if it was a new bug or had always appeared that way in Firefox...

[2019-07-10 22:48] mikebarklage commented on #225
There was some very odd CSS styling applied to it that I think IE and Chrome were ignoring. I commented it out and it looks correct on Firefox.

[2019-07-10 22:52] mikebarklage commented on #219
Ahh, right. Re-added that for 2.B.

[2019-07-11 12:31] smh243 commented on #154
Please see attached.
It may be that I am overly picky. 😊
Thanks,
Mark

Mark Hamrick
eLearning Producer
DHS Certified 508 Trusted Tester 300817
[JAWS Certified, 2019]<http://www.freedomscientific.com/Certification>
207 623 8411 x2291
EES eLearning Division
Department of Veterans Affairs

To learn more about EES, visit vaww.ees.lrn.va.gov<http://vaww.ees.lrn.va.gov/>.
[cid:image006.jpg@01D537C3.12BE

[2019-07-11 13:28] drewnielson commented on #218
If there is no line of text referencing position/location/orientation (or
other sensory characteristics), then should be DNA. It would be a pass in
cases where there is text that references the location etc. but ALSO uses
another method (e.g., additional explanatory text, labels) to provide the
same information that the location reference provides.

[2019-07-11 13:29] drewnielson commented on #197
Moonami is in the process of adding the security certificate, which should resolve this issue.

[2019-07-11 13:31] drewnielson commented on #208
Verified. Thanks @katbecker.

[2019-07-11 13:31] #208 closed

[2019-07-11 13:36] drewnielson commented on #154
Hey Mark (@smh243), your attachment didn't come through in the GitHub comments. Can you send it directly to my dhs email: andrew.nielson@associates.hq.dhs.gov

[2019-07-11 13:48] drewnielson commented on #154
Thanks @smh243. Including screenshots from attachment (below). Looks like we just need to update the screenshot in the body of the course topic.

Dialog box example from course:
![image](https://user-images.githubusercontent.com/29068131/61056202-e440a180-a3c0-11e9-9e72-b7c71889d048.png)

Actual pop up after mashing Upload Files details button:
![image](https://user-images.githubusercontent.com/29

[2019-07-11 14:48] drewnielson commented on #105
Moonami to add security certificate, create new sub-domains, and map exam servers to new sub-domains. Hoping that those changes will resolve the video load issue for those behind the DHS firewall.

[2019-07-11 15:35] drewnielson commented on #122
Before taking action on above comment, let's discuss during our meeting later today (7/11).

[2019-07-11 18:01] AnnMarieDavis commented on #122
Request is to hide the radio button from FAIL column for 1.A - 1.D.  It should only be presented for 1.E

[2019-07-11 18:05] mikebarklage commented on #122
But 1.A - 1.E are always DNA? (Assuming we've ensured something else on the exam fails.)

[2019-07-11 18:06] drewnielson commented on #122
Yep, assuming something else always fails, then 1.A-1.E would be DNA.

[2019-07-11 18:10] AnnMarieDavis opened #226 "Force students to identify at least ONE failure on any given exam attempt"
## Issue Type
- [X] Other, specify...[ensure students must identify at least ONE failure on any specific exam attempt]

## Description
To ensure that Answers to Topic 1 are always DNA and that students cannot "game" exam attempts, by continually submitting every answer as  "PASS", for any specific **Practice** or **Final** exam attempt, logic should be provided where at LEAST ONE failure is presen

[2019-07-11 18:22] mikebarklage commented on #122
I just thought of a possible if unlikely edge case:

Student fails attempt 1
On one of the 3 pages, the only incorrect responses were in topic 1
Attempt 2 randomizes topic 1 for that page, with no options for other failed IDs

[2019-07-11 18:37] drewnielson commented on #122
ugh - yeah, that could be a problem

[2019-07-11 20:39] Tonylayton1 commented on #225
verified on dev

[2019-07-11 21:02] Tonylayton1 commented on #218
the failure is working now, but the alternative should be changed to DNA, not C as per above.

[2019-07-11 21:03] Tonylayton1 commented on #218
To add to the above, I updated the default results sheet this effect

[2019-07-11 21:05] mikebarklage commented on #218
OK, updated from C to DNA.

[2019-07-11 21:14] Tonylayton1 commented on #218
verified on dev

[2019-07-11 21:18] Tonylayton1 commented on #219
verified on dev

[2019-07-12 11:57] AnnMarieDavis commented on #219
Closed. The video plays automatically, but is muted. The Autoplay button that presented to users upon opening the page has been removed.

Fingers crossed this will solve the issue!    :0)

[2019-07-12 11:57] #219 closed

[2019-07-12 12:15] AnnMarieDavis commented on #218
Sorry if directions were unclear. Please replace the text "See below for some well known examples" with "The list on the right provides companies with a lifetime certification." This impacts the answer sheet as well.  You can randomize having the text appear (FAIL) or not be presented (DNA). I didn't see that being presented in two attempts.

I'm going to add an example to the DNA for 13.B that cl

[2019-07-12 12:44] drewnielson commented on #206
verified in dev

[2019-07-12 12:44] #206 closed

[2019-07-12 14:25] drewnielson commented on #215
I'm seeing the same issue in the admin tool:
* http://52.23.182.152/dhsv5/scormapi/admin.php?SCOInstanceID=61&KeyID=1563&ExamID=5
* http://52.23.182.152/dhsv5/scormapi/admin.php?SCOInstanceID=61&KeyID=1564&ExamID=5

[2019-07-12 14:36] drewnielson commented on #55
Verified in dev. Ann Marie, go ahead and re-open if you still see an issue, but my guess is that it was a cache issue for you.

[2019-07-12 14:36] #55 closed

[2019-07-12 14:39] drewnielson commented on #220
verified in dev

[2019-07-12 14:39] #220 closed

[2019-07-12 14:41] cliffbert commented on #122
Is it too much trouble to test them on 1.A-E with a multiple choice question instead?

[2019-07-12 14:51] drewnielson opened #227 "Add details about specific Test ID instructions to Introduction"
Add screenshot below and describe where specific instructions for selecting the correct items are located.
![image](https://user-images.githubusercontent.com/29068131/61137126-ebd07b00-a492-11e9-895e-cbb0dfaad558.png)

[2019-07-12 14:56] drewnielson commented on #221
verified on dev

[2019-07-12 14:56] #221 closed

[2019-07-12 14:57] drewnielson commented on #225
@AnnMarieDavis, could you verify this one? Firefox currently isn't working for me on my DHS computer.

[2019-07-12 15:02] #218 closed

[2019-07-12 15:08] drewnielson opened #228 "Add content to intro about using ANDI to test iframe content"
Add content to Introduction or Test Tools to add specific instructions related to opening iframe content in a new window in order to test with ANDI.

[2019-07-12 15:46] AnnMarieDavis commented on #225
I am having this issue with the Practice Exam in Firefox - in fact the video did not load until I first click the Pause button and then the Play button. A black screen displayed - so there appear to be some issues with this video in particular.
![Github issue 122 Firefox CC size_Practice Exam](https://user-images.githubusercontent.com/31414225/61140954-79fc2f80-a49a-11e9-8fb7-831ce916dc1a.png)

It

[2019-07-12 15:54] AnnMarieDavis commented on #225
Update with the Final Exam in Firefox...
One CC captioning was a little small, but on the screen and readable...

![Github issue 122 Firefox CC size_Final Exam](https://user-images.githubusercontent.com/31414225/61141513-bed49600-a49b-11e9-819a-c00aaed344a1.png)

The other video's play was quirky - again I had to toggle between Play and Pause to get the video to play all the way through. It would

[2019-07-12 15:59] mikebarklage commented on #225
I didn't change anything on the Practice or Final exams because I didn't know we were QAing those.

[2019-07-12 16:57] AnnMarieDavis commented on #225
I’m a tad early in looking at those – we are definitely focusing on QA of the practice exams next week as they are planned to be opened up (the 22th ) to people who have completed the class

Kind Regards,
Ann Marie

iPhone: 202-815-5428
Room 2020-07
annmarie.davis@associates.hq.dhs.gov<mailto:annmarie.davis@associates.hq.dhs.gov>

[cid:42523328-67EE-43C4-AC62-F470BA4429D1]
      [2018 Leading Disa

[2019-07-12 17:30] drewnielson commented on #225
@AnnMarieDavis, let's keep this issue confined just to the incremental exams. If you can confirm that the cc text size is fine in Firefox, then go ahead and close the issue.

[2019-07-12 18:40] drewnielson commented on #154
fixed

[2019-07-12 18:40] #154 closed

[2019-07-12 18:50] #225 closed

[2019-07-12 18:55] drewnielson commented on #228
done

[2019-07-12 18:56] drewnielson commented on #228
Not done. Closed the wrong issue.

[2019-07-12 18:56] drewnielson commented on #227
Done.

[2019-07-12 18:56] #227 closed

[2019-07-12 19:51] drewnielson commented on #228
Now it really is done.

[2019-07-12 19:51] #228 closed

[2019-07-15 18:47] AnnMarieDavis opened #229 "Section 508 Standards Course Topic 4 video example"
## Issue Type
- [x] 508 issue (something is not accessible according to our own test process)

## Description
Audio description example given for SC 1.2.3 and 1.2.5 conforming example 2 for Section 508 Standards for Web course does not meet audio description requirements.  The audio description is provided in text on the screen rather than being narrated in the sound track for users who cannot see

[2019-07-15 19:26] drewnielson commented on #105
Moonami created and mapped the new sub-domains and added SSL certificate to the servers. Confirmed that videos are now loading behind the DHS firewall.

[2019-07-15 19:26] #105 closed

[2019-07-15 19:28] drewnielson commented on #197
Moonami added SSL certificate to servers.

[2019-07-15 19:28] #197 closed

[2019-07-16 00:06] mikebarklage commented on #122
Given the above, it's probably best to just skip Topic 1 on the practice/final exams, same as 3 and 20.

[2019-07-16 12:46] AnnMarieDavis commented on #225
For the record - No issues with incremental exam video in Firefox.

[2019-07-16 13:06] drewnielson commented on #122
Yeah, I tend to agree. I'll discuss with Nic and others and will confirm one way or another.

[2019-07-16 16:43] AnnMarieDavis opened #230 "Practice Exam identification and "attempts""
## Issue Type
- [X ] Typo/grammar

## Description
[Practice exam template needs updating:
1. The practice exam answer sheets, page title and messages incorrectly identify it as the certification exam.
![Practice Exam Answer Sheet](https://user-images.githubusercontent.com/31414225/61311991-84ce0180-a7c5-11e9-9da8-bbbfb8b14c6c.png)

2. The submission confirmation message incorrectly tells students

[2019-07-16 16:53] AnnMarieDavis opened #231 "Practice Exam Results message"
## Issue Type
- [x] Incorrect content

## Description
The message students receive upon completion of the practice exam does not provide correct instructions. New text and student guidance needs to be provided.
![Practice Exam Results](https://user-images.githubusercontent.com/31414225/61313604-c613e080-a7c8-11e9-9322-6eb104d7f71c.png)

## Location
Trusted Tester course Practice Exam results messa

[2019-07-16 17:03] AnnMarieDavis opened #232 "Exam Admin Tool"
## Issue Type
- [x ] Other, specify...Admin tool truncates results.

## Description
Admin tool truncates results for pages which makes instructors unable to fully view all the errors a student has made. Even after a page refresh, I was unable to see the results past page 2 topic 5 of the practice exam.

## Location
http://52.23.182.152/dhsv5/scormapi/admin.php?SCOInstanceID=159&KeyID=1566&ExamID=2

[2019-07-16 19:59] Tonylayton1 opened #233 "Practice page 2 audio only file"
I just realized the audio file playing here is incomplete. Mike, could you replace it? I'll send you the network link.

[2019-07-16 20:10] mikebarklage commented on #233
The correct MP3 file was there, but the code was still playing an old one. It's fixed now.

[2019-07-16 20:11] Tonylayton1 opened #234 "CC placement for practice exam in firefox"
Same issue as in incremental, style on the CC varies in different browsers, especially in firefox where is sits well below the video.

[2019-07-16 20:15] Tonylayton1 opened #235 "2.A/2.B in practice exam, page 1"
On page 1, update the auto playing multimedia video to be muted upon loading the page so that auto play will work. Add a mute button to the video player.

2.A will now be DNA in all instances on page 1 (will add a randomized 2.A in page 2 in a separate issue)

2.B will remain the same, Passes if the play/pause button is present, Fails if it is not.

Documentation is updated.

[2019-07-16 20:17] mikebarklage commented on #215
Seems like it's displaying attempt 1 fine but having trouble with attempt 2+.

[2019-07-16 20:28] Tonylayton1 opened #236 "Practice exam 2.A on page 2"
Update the audio file found on this page to play automatically. Add a "Pause autoplay" button to the top of the page that is sometimes not available. When present, the page passes 2.A, when not present, the page fails 2.A for g1_01.

[2019-07-16 20:56] Tonylayton1 opened #237 "Global checkbox page g1e01"
On the global checkbox list for all 3 exam projects, add the text "within the first three elements on the page" at the end of g1e01 - documentation is updated

[2019-07-16 21:10] Tonylayton1 opened #238 "Practice exam group 5 on page 2"
move all existing failures in group 5 one letter up (5.A becomes 5.B and so-on).

Add a new failure for 5.A
The "Black" radio button has no visual text label (but does have an aria label of "Black")

Documentation is updated.

[2019-07-16 21:14] Tonylayton1 opened #239 "Practice 18.A on page 1"
Update the transcript zoom failure as was done on the incremental exam topic 18. The transcript text is in a div which causes text clipping when zoomed.

[2019-07-16 21:18] Tonylayton1 opened #240 "Practice exam 17.E and 17.F on page 1"
Update these 2 IDs to always be dna regardless of randomization. documentation has been updated.

[2019-07-16 21:24] Tonylayton1 opened #241 "Practice exam 17.D on page 1"
When 17.D fails, update correct answers to be r2e7 and r2e8

[2019-07-16 21:36] Tonylayton1 opened #242 "Practice exam 4.F order swap page 1"
Remove the randomized tab order swap from the header links. Remove r1e04 and r1e05 from the list of failures for 4.F. documentation is updated.

[2019-07-16 21:51] Tonylayton1 opened #243 "Practice exam 4.F order swap on Page 3"
On page 4, remove the randomized tabbing order swap on the header links. When 4.F fails, remove r1e04 and r1e05 from the list of failure reasons

[2019-07-16 21:56] Tonylayton1 opened #244 "Practice exam 4.C update page 1"
Update the keyboard trap failure to prevent reverse tabbing up and out beyond the About Registration footer link. Implement this the same way as in the incremental. Lastly, add r5e01 to the list of failure reasons for 4.C on this page.

[2019-07-16 21:59] Tonylayton1 opened #245 "Issue with forced keyboard trap method"
Update the keyboard trap failure to prevent reverse tabbing up and out beyond the First Name field. Implement this the same way as in the incremental. Lastly, add r3e03 to the list of failure reasons for 4.C on this page.

[2019-07-16 22:04] Tonylayton1 opened #246 "Practice exam 4.C on page 3"
update 4.C to always be compliant on page 3. No change to website is needed for this issue. 4.H will be updated in a separate issue.

[2019-07-16 22:26] Tonylayton1 opened #247 "Practice exam 4.G and 4.H on page 3"
Update the 4.G and 4.H failures on this page to use the same method as in the incremental. Change the "Show video" button to be a checkbox with an appropriate label. Checking it reveals the video and controls, unchecking it hides them.

When 4.G and 4.H fail on page 3, checking or unchecking the checkbox sends focus to the top of the page.

The failure reason for both 4.G and 4.H should be r4e03.

[2019-07-16 22:30] Tonylayton1 opened #248 "Practice exam 4.F on page 3"
4.F should fail as a result of 4.A and 4.G/H failures.

On page 3, link 4.A, 4.F, 4.G and 4.H so that they fail together.

When 4.F fails, its reasons should be r1e05 and r4e03

[2019-07-16 22:45] Tonylayton1 opened #249 "Practice exam 4.F on page 2"
Update 4.F so that it fails whenever 4.A and 4.C fails, meaning these 3 IDS must be linked on this page.

Update the failure reasons for 4.F to be r3e07 and r3e09

[2019-07-16 22:49] Tonylayton1 opened #250 "Practice exam 4.F on page 1"
4.F should fail when 4.A and 4.C fail, meaning these 3 IDS must fail together on this page.

When 4.F fails, the failure reasons should be r1e05 and r5e03

[2019-07-16 23:05] Tonylayton1 opened #251 "Practice exam 12.B page 1"
When 12.A passes but 12.B fails, update the page title to say "page 1" instead of just "page".

Any time 12.B fails (whether it is with or without 12.A failing), update the failure reason to just g1e15

[2019-07-16 23:06] Tonylayton1 opened #252 "12.B admin page issue"
When 12.A passes but 12.B fails, update the page title to say "page 2" instead of just "page".

Any time 12.B fails (whether it is with or without 12.A failing), update the failure reason to just g1e15

[2019-07-16 23:06] Tonylayton1 opened #253 "Practice exam 12.B on page 3"
When 12.A passes but 12.B fails, update the page title to say "page 3" instead of just "page".

Any time 12.B fails (whether it is with or without 12.A failing), update the failure reason to just g1e15

[2019-07-16 23:23] Tonylayton1 opened #254 "Practice exam 13.C on Page 3"
Remove the 13.C contrast failure from the paragraph starting with "With the ZipChip original...", i'm going to use this paragraph for a new issue, and contrast is already covered in 2 other places on this page.

the failure reasons for 13.C will be just r2e02 and r2e09 (remove r2e04)

[2019-07-16 23:31] Tonylayton1 opened #255 "Practice Exam 13.B on Page 3"
I was counting 13.B incorrectly, and it does not fail for the same reason as 15.B.

Update the "With the ZipChip original..." body text with randomizing text as described in the randomization document for page 3.

When 13.B fails, it should display the alternate text, and the failure reason should just be r2e04

[2019-07-16 23:34] Tonylayton1 opened #256 "Practice Exam Page 3 checkbox array text update"
change r4e03 text to "Show Video checkbox" instead of "Show Video button"

[2019-07-17 00:37] mikebarklage commented on #237
Fixed.

[2019-07-17 00:41] mikebarklage commented on #234
Fixed.

[2019-07-17 00:42] mikebarklage commented on #256
Fixed.

[2019-07-17 00:51] mikebarklage commented on #238
Done.

[2019-07-17 00:57] mikebarklage commented on #239
Done.

[2019-07-17 01:01] mikebarklage commented on #240
Done.

[2019-07-17 01:02] mikebarklage commented on #241
Done.

[2019-07-17 01:08] mikebarklage commented on #246
Done.

[2019-07-17 01:22] mikebarklage commented on #251
Done.

[2019-07-17 01:24] mikebarklage commented on #252
Done.

[2019-07-17 01:24] mikebarklage commented on #253
Done.

[2019-07-17 11:49] douglaszak opened #257 "Incremental Exams not working in Google Chrome"
Incremental Exams not working in Google Chrome . Exam fails to launch in Chrome. Student used IE and was able to launch.
Issue reported by Toya Poudyal

[2019-07-17 12:13] AnnMarieDavis commented on #257
Danny Guzman at NE HQ also reported this issue on 7/16 at about 4:00 pm ; the phone call from Toya as as 4:50 pm on 7/16/19 from .  I was unable to replicate the issue even after clearing my cache. Following up with both.

[2019-07-17 13:29] AnnMarieDavis opened #258 "Exam Admin Tool for Practice Exam Results"
## Issue Type
- [x] System Bug (the course doesn't function properly)

## Description
In the Exam Admin Tool, exam results cut off and are not displayed beginning at page 2 Topic 5 Forms in the Exam Admin module.

## Location
Section 508 Exams v5 - Admin Tool > Practice Exam results
http://52.23.182.152/dhsv5/scormapi/admin.php?SCOInstanceID=159&KeyID=1566&ExamID=2 (but am deleting this to retake

[2019-07-17 14:18] drewnielson commented on #257
Thanks @douglaszak and @AnnMarieDavis. Additional information that might be helpful:
* Which incremental(s)?
* Description of actual behavior/observation (e.g., no new window opened, a new window opened but nothing displayed, received some error message, something else?)

[2019-07-17 16:13] carlosandrews opened #259 "508 issue closing transcript"
## Issue Type
- [X] 508 issue (something is not accessible according to our own test process)

## Description
keyboard accessibility bug in the Topic 2 Lesson 1 DNA example 2:
https://training.section508testing.net/mod/book/view.php?id=1223&chapterid=2628

When navigating the audio player with a keyboard only, if I click on show transcript, a modal window opens, but if I want to close the window b

[2019-07-17 17:00] douglaszak commented on #257
@drewnielson and @AnnMarieDavis  Toya's Reply  Thank you Ann. I got an error on CSS incremental exam. Got an error with connection issue. It is running okay this morning.
Thank you,

[2019-07-17 17:10] douglaszak commented on #257
@drewnielson and @AnnMarieDavis . Danny's issue was with the topic 2 exam. He took the topic 2 exam once failed and could not retake the exam . This only occurred in chrome See Danny's reply  Hi Ann Marie,

Yes, I believe there was a glitch with chrome.  I used internet  explorer and the incremental exam was working properly.

Thanks,

Danny

[2019-07-17 18:23] drewnielson commented on #257
Thanks for the follow up. I'm going to close the issue and consider this resolved or a one-time glitch, since both students have been able to move past it, and we don't really have enough info or ability to replicate the issue.

[2019-07-17 18:23] #257 closed, assigned to drewnielson, AnnMarieDavis

[2019-07-17 19:16] AnnMarieDavis opened #260 "Practice Exam Answer Sheet for ZipChip Data and Security"
## Issue Type
- [X] Incorrect content

## Description
In Region 4 of the answer sheet, "Show video" is described as a checkbox, but appears as a button on the page.
![4 E answer sheet Region Practice Exam](https://user-images.githubusercontent.com/31414225/61404563-b0c0b400-a8a5-11e9-8f2e-585c5c2322b1.png)

## Location
http://52.23.182.152/dhsv5/scormapi/lesson1.php?SCOInstanceID=159&studentName=A

[2019-07-17 22:40] mikebarklage commented on #236
This is updated. I also unlinked 2.A and 2.B for pages 1 & 2.

[2019-07-17 22:41] mikebarklage commented on #235
Code is updated.

[2019-07-17 23:18] mikebarklage commented on #244
Done.

[2019-07-17 23:20] mikebarklage commented on #250
Is this for page 2, not page 1?

[2019-07-17 23:23] mikebarklage commented on #242
Done.

[2019-07-17 23:37] mikebarklage commented on #245
Done.

[2019-07-17 23:41] mikebarklage commented on #243
Done.

[2019-07-17 23:44] mikebarklage commented on #250
OK, I see that there are new linkings for topic 4 on all 3 pages.

Currently (old version), 4.C and 4.F are linked on pages 1 and 2. Looking at the page 1 doc, it seems like that should still apply, without 4.A.

[2019-07-18 12:41] AnnMarieDavis commented on #259
Thank you for pointing out this issue and also for noting the "workaround" of closing the modal window using the Show/hide Transcript button does work.  We will add this to the backlog for future fix.

[2019-07-18 12:52] AnnMarieDavis commented on #258
this is s duplicate of issues 232

[2019-07-18 12:52] #258 closed, assigned to drewnielson, AnnMarieDavis, mikebarklage, Tonylayton1

[2019-07-18 12:56] AnnMarieDavis commented on #232
Exam results cut off and are not displayed beginning at page 2 Topic 5 Forms in the Exam Admin module.

Results need to support showing ALL results for a student's first attempt 66 rows of data, 20 table headers, 20 topic headings for 3 pages of the test.

- To save on space, we can consider removing tables (and headings) for 1 Alternate Version, 3 Flashing, and 20 Parsing since students are not p

[2019-07-18 13:43] drewnielson commented on #259
@AnnMarieDavis, I removed the CarneyFix label, since this is in the course content, not the exams. @katbecker, do you think this is something you might be able to look into with the AblePlayer?

[2019-07-18 15:15] carlosandrews commented on #259
Here’s the github for AblePlayer. I currently don’t see my bug in their issues.
Link: https://github.com/ableplayer/ableplayer

[2019-07-18 15:19] AnnMarieDavis commented on #254
I don't have an issue with you removing this contrast but I also identified a contrast issue with the skip nav link in the banner on this page with manual testing.  ANDI indicates that the Skip nav link has a failure...
![13 C Skip nav link contrast](https://user-images.githubusercontent.com/31414225/61469647-93dfbb80-a94d-11e9-9c74-1e513b980bf8.png)

The skip link is not offered as a choice on th

[2019-07-18 16:47] AnnMarieDavis opened #261 "7.A Practice Exam icon alt text update"
## Issue Type
- [X] Other, specify...[replace this text with your issue type description]

## Description
On the Zip Chip pages of the Practice Exam, the logo/icons are not identified in a way that many agencies would accept as being clear alternative text. "Company logo" does not clearly indicate what company logo is being presented for the running man image.
![2 B running man logo](https://user-

[2019-07-18 17:13] AnnMarieDavis opened #262 "Practice Exam message - table errors"
## Issue Type
- [X] System Bug (the course doesn't function properly)

## Description
When students receive a message about the Test IDs they have missed, the description of the IDs does not match the test process.

## Location
Practice Exam student notification

## Actual Behavior / Observation
Partway down the table identifying the student errors, the description of the errors does not match the

[2019-07-18 18:32] mikebarklage commented on #254
I've updated the 13.C randomizations, not yet dealt with the Skip Nav.

[2019-07-18 19:28] mikebarklage commented on #255
Done.

[2019-07-18 20:17] carlosandrews opened #263 "Invalid ARIA Role for Administration section on left navigation"
![invalid aria for role(equals)tree](https://user-images.githubusercontent.com/34892512/61489012-7f57ef00-a95e-11e9-96ff-3f800b1b6d54.PNG)

## Issue Type
- [x] 508 issue (something is not accessible according to our own test process)

## Description
When testing a "book" page using ANDI, the section under "Administration" is using invalid aria roles for the role=tree ARIA Role.

I can attach a scr

[2019-07-18 20:44] mikebarklage commented on #249
Done.

[2019-07-18 20:47] mikebarklage commented on #250
For the moment, I left page 1 as is, with 4.C linked to 4.F. Otherwise done.

[2019-07-18 20:48] mikebarklage commented on #248
Done, also removed 4.E -> 4.G link.

[2019-07-18 21:16] carlosandrews opened #264 "Birds_Sample.wav file missing (404 Error)"
## Issue Type
- [x] System Bug (the course doesn't function properly)

## Description
On this incremental exam page, the audio source for birds_sample.wav is missing (error 404).

## Location
Link: https://exams-dev1-c.section508testing.net/dhsv5/dhscourse/Lesson1/exams/web-incremental/testPages/page3_main.php?studentEmail=<email omitted>&SCOInstanceID=487&examId=16

## Actual Behavior / Observati

[2019-07-18 21:45] mikebarklage commented on #247
Done.

[2019-07-18 22:45] mikebarklage commented on #230
These are all done but the HTML title, because I'm not yet sure where that's set.

[2019-07-19 17:03] Tonylayton1 commented on #230
Verified what has been updated above.

Similar updates are needed on the Scoring page, but I'm not sure to what extent the text there needs to change. Certainly every mention of "Certification Exam" should instead be "Practice Exam". It also has instructions beginning with a line written in red that appear in the certification exam. do those review instructions need to be in the practice?

[2019-07-19 17:06] Tonylayton1 commented on #233
verified on dev

[2019-07-19 17:07] Tonylayton1 commented on #237
verified on dev

[2019-07-19 17:08] AnnMarieDavis commented on #259
I had multiple issues of transcripts opening and obscuring the page on https://training.section508testing.net/mod/book/view.php?id=1270&chapterid=3091

[2019-07-19 17:09] AnnMarieDavis commented on #264
Can you clarify the URL of the incremental exam or provide the topic # where you encountered this? I don't see a bird audio in the URL listed above.

[2019-07-19 17:10] mikebarklage commented on #230
Issue #231 covers the Scoring page and is waiting for new text to be provided.

[2019-07-19 17:16] AnnMarieDavis commented on #233
Can you clarify the location of this file so I can QA the fix?
I think you mean the file on this page (http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-practice/testPages/page2_main.php?studentEmail=annmarie.davis@associates.hq.dhs.gov&SCOInstanceID=159&examId=2#)

There are 2 audio sounds provided for the successful and unsuccessful connection, but no sound after "...accompanied by 1 long v

[2019-07-19 17:30] AnnMarieDavis commented on #237
verified on incremental and final.

[2019-07-19 17:30] #237 closed, assigned to mikebarklage

[2019-07-19 17:32] Tonylayton1 commented on #233
No, what you are hearing is correct. Prior to this update, the success and failure tones were not present.

[2019-07-19 17:35] AnnMarieDavis commented on #122
The agreed fix that should be implemented for this issue is:
A Test Results answer sheet for Topic 1 should **not** be provided to students on the Practice or Final exams. Replace the "Enter Results" button with the text "Omitted from Exam". (This should be _styled_ like the "Not tested" text for 3 Flashing and 20 Parsing)

[2019-07-19 17:44] Tonylayton1 commented on #234
verified on dev

[2019-07-19 17:45] Tonylayton1 commented on #235
video doesn't appear to be updated. does not start muted and has no mute button.

[2019-07-19 17:49] Tonylayton1 commented on #236
verified on dev

[2019-07-19 17:53] Tonylayton1 opened #265 "Practice exam 5.A on page 1 and 3"
Related to issue #238

the default answer for 5.A on pages 1 and 3 should be "dna"

[2019-07-19 17:54] mikebarklage commented on #235
Hmm, looks like I lost track of this item and just removed the autoplay. Looking into it now.

[2019-07-19 17:56] mikebarklage commented on #235
This also has CC/AD instead of full words, which I don't think is on our list yet but was a change we made to the incrementals.

[2019-07-19 17:57] Tonylayton1 commented on #236
Actually, the "pause autoplay" button and the pause/play button for the audio file are behaving strangely. I have to select the pause autoplay button twice for it to go away and pause the audio, but then the pause/play button is out of sync (play pauses it, pause plays it)

[2019-07-19 18:01] Tonylayton1 opened #266 "Practice exam multimedia control names"
Related to issue #236 please update the button names under the video. Fully spell out AD and CC, adding the on/off indicator to both the visual label and the accessible name for andi. the skip buttons should be called "Skip Back" and "Skip Forward".

(should match the incremental exam)

[2019-07-19 18:09] Tonylayton1 commented on #238
verified on dev

[2019-07-19 18:34] Tonylayton1 commented on #239
Mostly good, but I can't see all of the text at 100% in IE and Chrome. Student should be able to see it all at 100%, and the cut off when zooming sometime before 200%

[2019-07-19 18:35] Tonylayton1 commented on #240
Both IDs still showing up as "c"

[2019-07-19 18:40] Tonylayton1 commented on #241
Verified on dev

[2019-07-19 19:10] Tonylayton1 commented on #245
verified on dev

[2019-07-19 19:10] Tonylayton1 commented on #249
verified on dev

[2019-07-19 19:20] Tonylayton1 commented on #250
based on issues raised during the incremental reviews, the 4.A issue were an element is not accessible should also be counted as a skip in the tab order, meaning 4.A should be linked as well.

[2019-07-19 19:21] Tonylayton1 commented on #242
verified on dev

[2019-07-19 19:24] Tonylayton1 commented on #243
verified on dev

[2019-07-19 19:26] Tonylayton1 commented on #244
verified on dev

[2019-07-19 19:28] Tonylayton1 commented on #246
verified on dev

[2019-07-19 19:30] Tonylayton1 commented on #256
verified on dev

[2019-07-19 19:37] Tonylayton1 commented on #247
verified on dev

[2019-07-19 19:39] Tonylayton1 opened #267 "Practice exam Transcript button on Page 3"
Possibly related to issue #247

Tabbing away from the transcript button, either moving forward or reverse tabbing, is moving the middle frame to the top. When student reverse tabs from this button, it skips up to the top frame rather than tabbing through the other video buttons first.

[2019-07-19 19:44] Tonylayton1 commented on #248
Verified on Dev

[2019-07-19 19:53] Tonylayton1 commented on #251
verified on dev

[2019-07-19 19:53] Tonylayton1 commented on #252
verified on dev

[2019-07-19 19:53] Tonylayton1 commented on #253
verified on dev

[2019-07-19 20:34] Tonylayton1 commented on #255
this is working, but I should have foreseen that the relevant checklist array item name would need to change. update the checkbox for r2e04 to "Paragraph text under Two-Factor-Options"

[2019-07-19 20:36] AnnMarieDavis commented on #233
Verified

[2019-07-19 20:36] #233 closed, assigned to mikebarklage

[2019-07-19 20:38] Tonylayton1 commented on #254
The original issue is verified on dev. Opening a new issue for the skip nav link contrast.

[2019-07-19 20:39] AnnMarieDavis commented on #234
verified on practice exam

[2019-07-19 20:39] #234 closed, assigned to mikebarklage

[2019-07-19 20:39] Tonylayton1 opened #268 "Practice exam contrast for skip nav link"
Update the Skip nav link contrast to be above 4.5:1. ANDI is currently detecting a contrast of 3.6:1.

[2019-07-19 20:51] Tonylayton1 commented on #230
Okay then, sounds like it's just the window title that still needs to be updated for this issue.

[2019-07-19 21:01] Tonylayton1 commented on #261
Updated documentation.

Please update the alt tag for the running man icon as above. should be: "Zip Chip (running man) icon"

Icon is present at the top and bottom of each page. the one on the bottom pf page 3 has an failure version with no alt, which should remain the same.

[2019-07-19 23:09] mikebarklage commented on #261
Updated.

[2019-07-19 23:23] mikebarklage commented on #250
Updated.

[2019-07-19 23:48] mikebarklage commented on #239
It was fine on my browser, so I'm flying a little blind here, but I added another 20px to the height, hopefully that fixes it.

[2019-07-19 23:52] mikebarklage commented on #240
There was still a link between 17.D and 17.E/F, I've now removed it.

[2019-07-19 23:54] mikebarklage commented on #255
Done.

[2019-07-19 23:57] mikebarklage commented on #265
Updated.

[2019-07-20 00:00] mikebarklage commented on #122
I removed Topic 1 from the Practice and Final exams, as far as I can tell so far. If you encounter any issues with it, please follow up here.

[2019-07-20 00:01] mikebarklage commented on #122
Also note that I haven't changed anything on the admin side yet and I'm not sure if anything needs to be updated.

[2019-07-20 00:32] mikebarklage commented on #230
Done for Practice and Incrementals.

[2019-07-21 16:09] carlosandrews commented on #264
The examId=16 and the SCOInstanceId=487

[2019-07-22 16:49] AnnMarieDavis commented on #265
Correction to this issue.

1. Page 1 (Page 1: http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-practice/testPages/index.php?KeyID=1571) answer should be DNA for 5.A.

2. Page 3 (http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-practice/testPages/page3_main.php?KeyID=1571) answers for topic 5 should be:

- 5.A & 5.B & 5.D & 5.E should be PASS,

- 5.C should be FAIL for the Show Video bu

[2019-07-22 16:59] AnnMarieDavis opened #269 "Practice Exam Topic 7 answers"
## Issue Type
- [X] Incorrect content

## Description
Some answers in Topic 7 are not correct on the practice exam.

## Location
Page 1: http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-practice/testPages/index.php?KeyID=1571
Page 2: http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-practice/testPages/page2_main.php?KeyID=1571
Page 3: http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/w

[2019-07-22 17:09] AnnMarieDavis opened #270 "Practice Exam Topic 13"
## Issue Type
- [X] Incorrect content

## Description
"Below" is not considered a directional clue.  Pages that contain this word in the practice exam are expecting students to mark PASS for 13.B. This is not correct. When that is the only "directional" clue on the page, this answer should be DNA.

## Location
Page 1: http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-practice/testPages/index.

[2019-07-22 17:15] AnnMarieDavis opened #271 "Practice Exam Topic 19 Answers"
## Issue Type
- [X] Incorrect content

## Description
Providing links to other pages on a web site at the top and the bottom of the pages is considered ONE method to meet 19.A. In order to pass, another method must be provided: such as a search menu, site link, or TOC pane.

## Location
Page 1: http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-practice/testPages/index.php?KeyID=1571
Page 2: h

[2019-07-22 17:34] AnnMarieDavis opened #272 "Practice Exam Answer sheet for 5.G and marking 8.A"
## Issue Type
- [X] Incorrect content

## Description
Practice exam answer sheet for 5.G is related to timeout issues, not Guidance to correct errors in form fields. The answer for 5.G should be PASS for Page 2.
Time limits are tested in 8.A, not 5.G.

## Location
Answer sheet for Page 2: http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-practice/testPages/page2_main.php?KeyID=1571

## Actual

[2019-07-22 18:09] mikebarklage commented on #235
OK, hopefully this is done for real now.

[2019-07-22 18:10] mikebarklage commented on #266
Done.

[2019-07-22 18:23] mikebarklage commented on #268
I'm unable to replicate this issue - the Skip link appears black on a white portion of the background in my browsers. But I added a color attribute to the main Skip styling, not just when it's focused. Can you let me know if that helps?

[2019-07-22 18:32] mikebarklage commented on #267
I still had the old 4.H failure applied to the Transcript button. I have removed it.

[2019-07-22 18:37] mikebarklage commented on #236
Should be fixed now.

[2019-07-22 19:13] AnnMarieDavis opened #273 "Practice exam answer for Topic 15.A"
## Issue Type
- [X] Incorrect content

## Description
The answer for the Practice exam for topic 15 need to be corrected for the answer sheet for page 2.

## Location
Page 2: http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-practice/testPages/page2_main.php?KeyID=1571

## Actual Behavior / Observation
Page 2 for 15.A - The only pseudo elements marked by ANDI were the images for the pause and

[2019-07-22 19:51] AnnMarieDavis commented on #245
Reverse tabbing is fixed and students cannot exit the trap.  However, when students reverse tab through the page, they go from whichever device type they have selected and skip over all the address elements = going directly the first name text box.

[2019-07-22 19:56] AnnMarieDavis commented on #249
I failed 4.A and 4.C on my answer sheet, but I don't see the IDs linked. Is it possible that you have to test 4.a First AND this requires the completion order ins a certain progression.

[2019-07-23 13:29] AnnMarieDavis commented on #254
The page I tested had a contrast issue with paragraph starting " With two-factor authentication...." The exam correctly identifies this as a FAIL. Not seeing a paragraph "With the ZipChip original...".  Closing the issue.

[2019-07-23 13:29] #254 closed, assigned to mikebarklage

[2019-07-23 17:26] mikebarklage commented on #245
I was curious and checked - this also happens on incremental page 3. Reverse tabbing from the City field skips up to Contact Name.

I'm not sure how to fix this...

[2019-07-23 17:46] mikebarklage commented on #226
I believe we're dropping this request in favor of not testing Topic 1.

[2019-07-23 17:53] mikebarklage commented on #231
I made some of the more obvious updates to the Scoring page text, but still need the finalized version.

[2019-07-23 21:08] AnnMarieDavis commented on #238
verified

[2019-07-23 21:08] #238 closed, assigned to mikebarklage

[2019-07-23 21:41] AnnMarieDavis commented on #253
None of the pages on my first practice exam had page titles (all failed 12.A), but the correct logic was in the answer sheet that 12.B must also then be a fail.

My second exam attempt appears to have this correct logic, but there is still ONE ERROR on the answer sheet for page 2 (http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-practice/testPages/page2_main.php?KeyID=1601 ). The answer is c

[2019-07-23 21:42] Tonylayton1 commented on #260
It has been changed to a checkbox. New attempts after clearing your exam data should reflect this change.

[2019-07-23 21:44] AnnMarieDavis commented on #252
None of the pages on my first practice exam had page titles (all failed 12.A), but the correct logic was in the answer sheet that 12.B must also then be a fail.

My second exam attempt appears to have this correct logic, but there is still ONE ERROR on the answer sheet for page 2 (http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-practice/testPages/page2_main.php?KeyID=1601 ). The answer is c

[2019-07-23 21:45] Tonylayton1 commented on #268
ANDI does not flag this so it may have been caught in a previous update. Moving to DHS review to confirm.

[2019-07-23 21:45] AnnMarieDavis commented on #253
Moved this comment to Github issue #252 for page 2

[2019-07-23 21:45] #253 closed, assigned to mikebarklage

[2019-07-23 21:48] Tonylayton1 commented on #267
Verified on dev

[2019-07-23 21:49] Tonylayton1 commented on #266
verified on dev

[2019-07-23 21:53] Tonylayton1 commented on #235
verified on dev

[2019-07-23 21:58] AnnMarieDavis commented on #268
This does seem to have been caught in a previous update.  I will open a new issue related to color contrast for the disable animation button that "disappears" when it receives focus.

[2019-07-23 21:58] #268 closed, assigned to mikebarklage

[2019-07-23 22:00] Tonylayton1 opened #274 "Practice exam Page 1 AD not working"
No AD is playing when it is toggled on. It also is not playing when it is supposed to play with no button. This is new, possible related to changing the video for the 2.A/2.B updates.

[2019-07-23 22:01] Tonylayton1 commented on #236
verified

[2019-07-23 22:07] Tonylayton1 commented on #265
Good catch!

Mike, the Show video checkbox should be associated with the "Show video" label so that it doesn't fail 5.C.

I've updated 5.A, 5.B, 5.C, 5.D, and 5.E to default to C in the default answer doc. Please update those IDs on page 3 to reflect that.

[2019-07-23 22:10] Tonylayton1 commented on #239
I see the issue now, the width of the div changes with the width of the window. Can it be a set width instead?

[2019-07-23 22:11] AnnMarieDavis opened #275 "13.C Contrast issue upon focus"
## Issue Type
- [x] 508 issue (something is not accessible according to our own test process)

## Description
ANDI requires manual inspection, but identifies the font as black for the Disable Animation button on page 3 of the practice exam.  In Chrome, the text "vanishes" when focus appears on it.  The manual test tool cannot capture the text color using the eye dropper.  Using the font color iden

[2019-07-23 22:12] Tonylayton1 commented on #240
verified on dev

[2019-07-23 22:19] Tonylayton1 commented on #250
verified on dev

[2019-07-23 22:20] Tonylayton1 commented on #255
verified on dev

[2019-07-23 22:35] Tonylayton1 commented on #122
Verified that topic 1 has been removed and scoring appears to be correct.

On the admin instructor view side, it still highlights the topic 1 group as yellow. I would expect it to be white like topic 3.

[2019-07-23 22:37] Tonylayton1 commented on #230
verified on dev

[2019-07-23 22:38] Tonylayton1 commented on #261
Verified on dev

[2019-07-23 22:49] Tonylayton1 commented on #270
Updated the default answers spreadsheet.

13.B on page 1 should now always be DNA
13.B on page 3 should now randomize between DNA and NC, as opposed to between C and NC

[2019-07-23 22:51] Tonylayton1 commented on #275
The button changes to white when focused, can it be updated to stay black when focused?

[2019-07-23 22:58] Tonylayton1 commented on #273
Actually, 15.A was supposed to fail in this instance but for some reason it isn't.

When 15.A fails on page 2, the sentence "Enter your device type and ID..." should be inserted via the ::before selector. For whatever reason this is not currently working.

[2019-07-23 23:05] Tonylayton1 commented on #272
Could you clarify this issue? I don't understand how 8.A and 5.G are being related here as they randomly  fail independently of each other.

Currently when 5.G fails, it is because the "get code" button failure for not following the correct text box format just says "ID error"

[2019-07-23 23:11] Tonylayton1 commented on #271
In that case, having a compliant example would be a bit of an undertaking at this point. Changing the correct answer to NC would be easy.

Update the default answer for 19.A on all three pages to FAIL for g1e19

[2019-07-23 23:16] Tonylayton1 commented on #269
Update the default answer for 7.E to be PASS on all three pages.

[2019-07-23 23:18] Tonylayton1 commented on #226
Please close this if Mike is correct.

[2019-07-23 23:19] Tonylayton1 commented on #147
this issue in the practice is covered in #271 so I removed the practice label from this issue.

[2019-07-23 23:25] Tonylayton1 commented on #149
Update the webpage so that the 2 lists are side by side even when 15.B fails
When 15.B fails, the lists should be organized visually with CSS to look the same as the passing version, but they are actually stacked on the webpage as: Header 1, Header 2, List 1, List 2

[2019-07-23 23:26] mikebarklage commented on #122
I've adjusted the admin view for topic 1.

[2019-07-23 23:30] Tonylayton1 commented on #245
When the user is tabbing backwards and enters into keyboard trap area, focus moves to the first item in the keyboard trap rather than starting at the bottom.

The same is true for the keyboard trap example we found here and used for the webpage: https://accessibility.18f.gov/keyboard/

Should we try and change the way the keyboard trap works, or can we update the answer sheet to accommodate that b

[2019-07-23 23:32] Tonylayton1 commented on #249
Seems to be working for me. 4.A, 4.C, and 4.F all fail together. The user wouldn't see this behavior filling out the answers. All this means is that these 3 IDs will either all pass or all fail.

[2019-07-23 23:43] Tonylayton1 commented on #122
Verified on Dev (note: this requires an exam status reset and the browser cache to be cleared to verify)

[2019-07-23 23:51] mikebarklage commented on #215
I missed one instance of moving 5.G --> 5.H on this admin page, so it was failing, but only when 5.G was NC. I made the fix.

[2019-07-23 23:51] mikebarklage commented on #232
I missed one instance of moving 5.G --> 5.H on this admin page, so it was failing, but only when 5.G was NC. I made the fix.

[2019-07-24 00:09] AnnMarieDavis commented on #260
Verified

[2019-07-24 00:09] #260 closed, assigned to drewnielson, AnnMarieDavis, mikebarklage, Tonylayton1

[2019-07-24 00:13] AnnMarieDavis commented on #122
OBE - students should not be presented with an answer sheet for Topic 1. We have since decided to replace the Enter Results button and accompanying answer sheet with a "bye" statement. Students will not test Topic 1 on the practice and final exam.

[2019-07-24 00:13] #122 closed

[2019-07-24 00:18] AnnMarieDavis commented on #226
This was primarily due to the issue with Topic 1.

But before I close this issue, let me get Andrew to weigh in since there may still be a concern that students will "game" the exam, by repeatedly putting PASS or DNA on every answer until that is true to avoid having to identify failures.

[2019-07-24 00:21] AnnMarieDavis commented on #261
I verified this as I was retaking the Practice Exam.  Thank you for this change.

[2019-07-24 00:21] #261 closed, assigned to AnnMarieDavis, Tonylayton1

[2019-07-24 00:23] mikebarklage commented on #269
Done.

[2019-07-24 00:24] mikebarklage commented on #270
Done.

[2019-07-24 00:24] AnnMarieDavis commented on #230
Verified. Will work on providing wording for scoring page and update issue #231

[2019-07-24 00:24] #230 closed, assigned to drewnielson, Tonylayton1

[2019-07-24 00:30] mikebarklage commented on #271
Updated.

I also removed an old link between 9.B => 19.A on page 2. We aren't randomizing 9.B there anymore anyway.

[2019-07-24 00:36] mikebarklage commented on #239
No, because that changes the div width in an equal ratio to the font size, so the whole text is always visible.

Hmmm...

[2019-07-24 01:45] mikebarklage commented on #239
Well, THAT was a journey.

I added some jQuery to automatically resize the div based on the pixel width of the browser window.

If the width is over 1200px, then the transcript div is the default 15% width.

If it's under 1200px, then it's a percentage based on this: (((180/window width)*100) / zoom ratio), where zoom ratio is (current zoom / default zoom).

If you resize the window, it recalculat

[2019-07-24 13:21] drewnielson commented on #226
@mikebarklage is correct - we decided to exclude the Topic 1 tests from the practice and final. Rather than displaying "Not Tested" in the column where you would normally enter results, I think we want the text "Excluded from Exam."

[2019-07-24 14:12] drewnielson commented on #226
I see the language is already "Omitted from Exam" which is fine.

[2019-07-24 14:17] drewnielson commented on #241
Verified on dev

[2019-07-24 14:17] #241 closed, assigned to mikebarklage

[2019-07-24 14:25] drewnielson commented on #249
Looks like it is working to me. Verified on dev.

[2019-07-24 14:25] #249 closed, assigned to mikebarklage

[2019-07-24 17:22] mikebarklage commented on #275
Updated.

[2019-07-24 18:37] mikebarklage commented on #265
Done.

[2019-07-24 18:44] mikebarklage commented on #274
I can't replicate this. AD plays when I unmute and turn it on, and it even plays when 17.D is false and the other audio track is muted.

[2019-07-24 18:48] mikebarklage commented on #273
I had it marked as 15.B in the code for some reason. Fixed.

[2019-07-24 18:58] mikebarklage commented on #149
This had been keying off of 13.B - the two IDs used to be linked. Changed it to 15.B.

[2019-07-24 19:09] mikebarklage commented on #252
According to the docs, the correct response is rO_15 and you chose rO_16, so this is a correct output.

[2019-07-24 20:03] drewnielson opened #276 "Topic 7 - Image of text in WORKBALANCE logo should be scored as C not DNA"
## Description
Same logic as in issue #269 - currently answer is DNA for 7.E even though there is an image of text on screen in the WORKBALANCE logo. Result for that specific image of text should be C instead of DNA

## Location
Observed on:  https://exams-dev1-c.section508testing.net/dhsv5/dhscourse/Lesson1/exams/web-incremental/testPages/index.php?KeyID=1583
For test result: https://exams-dev1-c

[2019-07-25 00:10] mikebarklage commented on #262
It's a little tough to test, but I think this is fixed. There was a bug in one of the sorting algorithms left over from v4, introduced when we switched from a 1.x.x ID format to 1.x.

[2019-07-25 00:12] mikebarklage commented on #262
A good future enhancement would be to replace that whole section of JS code in the scoring section with something simpler than makes more sense. It's overly complicated right now.

[2019-07-25 17:45] mikebarklage commented on #276
Done.

[2019-07-25 20:10] smh243 opened #277 "CSS content and positioning"
https://training.section508testing.net/mod/quiz/attempt.php?attempt=33438&page=1

CSS Content and Positioning

Question 2. What content is tested under 1.3.2-content-order-meaning-CSS-position?
distractor c. All content found when Advanced Settings &gt; Linearize Page is selected.
replace &GT; with >

[2019-07-25 22:13] Tonylayton1 commented on #269
verified on dev

[2019-07-25 22:19] Tonylayton1 commented on #149
I am still seeing the same orientation as before. When 15.B fails, the lists are visually one on top of the other instead of side-by-side.

A screen reader would correctly identify the failure (would read the two headers first and then the two lists) but ANDI is not identifying it with the "linearize page" function.

That said, the desired result would be that the two lists appear side-by-side, bu

[2019-07-25 22:22] Tonylayton1 commented on #271
verified

[2019-07-25 22:24] Tonylayton1 commented on #273
verified

[2019-07-25 22:25] Tonylayton1 commented on #275
verified on dev

[2019-07-25 22:32] Tonylayton1 commented on #270
Verified on dev

[2019-07-25 22:34] Tonylayton1 commented on #239
verified on dev

[2019-07-25 22:36] Tonylayton1 commented on #265
verified on dev

[2019-07-25 22:39] Tonylayton1 commented on #231
Moving to "To-Do" since this needs text from DHS

[2019-07-25 22:47] mikebarklage commented on #149
So... is it an issue with ANDI's linearize functionality?

[2019-07-25 22:49] Tonylayton1 commented on #149
It could be. the first part of the issue is getting it to look visually like the compliant version. could we try that and see what ANDI does?

[2019-07-25 22:53] Tonylayton1 commented on #274
This is only sometimes happening. Most recently, it was when there was no pause button, no CC button, and no AD button, but it happened to me when the CC and AD button were present as well. Could it be just when the pause button is missing? Here is the console error I get:

uncaught TypeError: Cannot read property 'addEventListener' of null
    at pauseOnPlayClick (videoPlayerAD.js:348)
    at get

[2019-07-25 23:55] mikebarklage commented on #149
Ah, I got confused on that part. Should be fixed now. I still don't see ANDI doing anything with it, though.

[2019-07-26 00:01] mikebarklage commented on #274
I changed it so when 2.B fails, the pause button still exists but is hidden. Can you try it again?

[2019-07-26 13:04] AnnMarieDavis opened #278 "Topic 6 Answer sheet issues PE page 1"
## Issue Type
- [X] Typo/grammar
- [X] Bug

## Description
Multiple issues on the answer sheet for Page 1 on Topic 6.
1. A dummy link receives focus and would fail for 6.A, but is not a choice on the answer sheet.  Not sure what this is.
![dummy link - no name](https://user-images.githubusercontent.com/31414225/61953298-0a02a480-af84-11e9-89e4-000cefdc022b.png)

2. The buttons options on the answe

[2019-07-26 14:06] smh243 opened #279 "Caption Control and AD Control"
- [x ] Confusing content
Lesson 5: Caption Control
Identifying content
Identify any synchronized media player with volume adjustment control(s).
This Test Condition DOES NOT APPLY (DNA) if there is no media player or the synchronized media player does not have a volume adjustment control.

I think this is saying that if there is no volume control then there does not have to be a Caption control.

[2019-07-26 14:27] drewnielson commented on #245
As discussed during our meeting yesterday, let's keep as is for now. We'll just accept the behavior (landing on the first element within the keyboard trap when tabbing backward into the keyboard trap) as a consequence of the keyboard trap without adding it to the list of logical focus failures.

[2019-07-26 14:27] AnnMarieDavis commented on #231
Revise both the "Nice Try" and "Congratulations" email messages as specified in the attachments.
[Congratulations Practice.docx](https://github.com/Section508Coordinators/DHSA-TT-200-A/files/3436149/Congratulations.Practice.docx)
[Nice Try Revision Practice.docx](https://github.com/Section508Coordinators/DHSA-TT-200-A/files/3436150/Nice.Try.Revision.Practice.docx)

[2019-07-26 14:37] AnnMarieDavis opened #280 "8.A Answer Sheet typo"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [x] Typo/grammar

## Description
1. Missing the word "to" in the answer sheet text
![Answer sheet typo 8 A](https://user-images.githubusercontent.com/31414225/61959384-45f03680-af91-11e9-92e9-0fdea1c2cfa2.png)

2. Text does not match for heading and may cause confusion to students.
![Page2 Answer sheet for heading](https://use

[2019-07-26 15:38] smh243 opened #281 "Course Survey"
- [x ] Incorrect content

End-of-Course Survey
Please complete the end-of-course survey provided via the SurveyMonkey link. The survey is not required to receive credit for this course, but we welcome and encourage your feedback.

I exited the book and it says that I cannot get my completion certificate until the Survey is Marked complete. However I did get an email for OAST saying I had completed

[2019-07-26 17:02] drewnielson commented on #242
Verified on dev

[2019-07-26 17:02] #242 closed, assigned to mikebarklage

[2019-07-26 17:11] mikebarklage commented on #231
There's more than I expected here, so it's taking some time to convert it into HTML, then convert that into something JS can handle. I'm working on it.

[2019-07-26 17:25] drewnielson commented on #281
Fixed. course completion certificate availability now dependent on the course summary, not the survey.

[2019-07-26 17:25] #281 closed, assigned to nobody

[2019-07-26 17:25] AnnMarieDavis commented on #272
I'm including a picture of the answer sheet.  It shows the answer key for 5.G as NC and sites a reason that makes no sense.
![Clarify 272](https://user-images.githubusercontent.com/31414225/61969372-e9f5d400-afc9-11e9-9dfc-0eb277471e6f.png)
Since 5.G is 3.3.3-error-suggestion, it makes no sense for the answer key to be looking for "the user cannot extend the time limit at least 10x." As we both ha

[2019-07-26 17:30] drewnielson commented on #279
@smh243, we really did the best we could with this one, but the confusion stems from the way the revised Section 508 standards are written. There certainly may be some way for us to improve the description. Nevertheless, please use the Q&A board within the course to submit this as a question for one of the live Q&A sessions. We can discuss and provide clarification there and use that as a step to

[2019-07-26 17:32] Tonylayton1 commented on #272
Okay I see now. This is counting the correct answer as correct, but it is showing up wrong on the admin view for some reason.

![image](https://user-images.githubusercontent.com/52048615/61969963-c15de200-afa9-11e9-8bd5-1bfecb00d5fd.png)

Probably significant to point out that the correct answer is r4_08 from the page specific checkbox array, and the on it is being mixed up with in the admin view

[2019-07-26 17:37] AnnMarieDavis commented on #265
5.A fix is verified.

[2019-07-26 17:37] #265 closed, assigned to mikebarklage

[2019-07-26 17:41] drewnielson commented on #243
I don't thin that the "show video checkbox" should be included as a failure for 4.F in this case. When navigating through the page (without selecting/un-selecting the checkbox), the focus order is fine. Suggest removing r4e03 from list of failure reasons for 4.F as well.

[2019-07-26 17:43] drewnielson commented on #244
verified on dev

[2019-07-26 17:43] #244 closed, assigned to mikebarklage

[2019-07-26 17:44] drewnielson commented on #246
verified on dev

[2019-07-26 17:44] #246 closed, assigned to mikebarklage

[2019-07-26 17:45] drewnielson commented on #256
verified on dev

[2019-07-26 17:45] #256 closed, assigned to mikebarklage

[2019-07-26 17:53] AnnMarieDavis commented on #239
I'm sorry to report that in Chrome, the Practice Exam is showing the transcript FAILS for resize text.
![TranscriptZoomChrome](https://user-images.githubusercontent.com/31414225/61971269-a771ce80-afac-11e9-8916-ad507a7f081e.png)

Whatever you did also appears to have broken the default size, too - as it is also cutting off text at the bottom.
![TranscriptDefaultSize](https://user-images.githubuser

[2019-07-26 17:55] AnnMarieDavis commented on #245
Since we agreed to the behavior, this has already been verified.  👍

[2019-07-26 17:55] #245 closed, assigned to mikebarklage

[2019-07-26 18:00] AnnMarieDavis commented on #270
Verified on pages 1 & 3

[2019-07-26 18:00] #270 closed, assigned to drewnielson, Tonylayton1

[2019-07-26 18:40] mikebarklage commented on #231
OK, done.

[2019-07-26 18:44] drewnielson commented on #247
verified on dev

[2019-07-26 18:44] #247 closed, assigned to mikebarklage

[2019-07-26 18:48] drewnielson commented on #248
Sorry guys - we may need a phone call on this one to discuss. Thinking about it some more, I'm not sure that 4.F (focus order) really should fail whenever 4.G and 4.H fail. If/when it is possible to navigate through the checkbox without selecting/un-selecting it, the focus order remains intact. I think in that case 4.F remains independent from 4.G and 4.H.

[2019-07-26 18:50] drewnielson commented on #251
verified on dev

[2019-07-26 18:50] #251 closed, assigned to mikebarklage

[2019-07-26 18:52] drewnielson commented on #267
verified on dev

[2019-07-26 18:52] #267 closed, assigned to mikebarklage

[2019-07-26 18:54] drewnielson commented on #266
verified on dev

[2019-07-26 18:54] #266 closed, assigned to mikebarklage

[2019-07-26 18:56] drewnielson commented on #235
verified on dev

[2019-07-26 18:57] drewnielson commented on #236
verified on dev

[2019-07-26 18:57] #236 closed, assigned to mikebarklage

[2019-07-26 19:04] drewnielson commented on #235
Re-opening. Just noticed that on this version, audio-described version of the file is playing automatically. Video plays automatically, not muted.

Observed here: http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-practice/testPages/index.php?studentEmail=andrew.nielson@associates.hq.dhs.gov&SCOInstanceID=104&examId=2

[2019-07-26 19:05] drewnielson commented on #250
verified on dev

[2019-07-26 19:05] #250 closed, assigned to mikebarklage

[2019-07-26 19:08] drewnielson commented on #240
verified on dev

[2019-07-26 19:08] #240 closed, assigned to mikebarklage

[2019-07-26 19:52] drewnielson commented on #275
verified on dev

[2019-07-26 19:52] #275 closed, assigned to drewnielson, Tonylayton1

[2019-07-26 20:00] drewnielson commented on #255
verified on dev

[2019-07-26 20:00] #255 closed, assigned to mikebarklage

[2019-07-26 20:00] #226 closed

[2019-07-26 20:10] mikebarklage commented on #239
It's supposed to fail when you're zoomed in that far, as in the 1st image.

For the 2nd image, what's your default zoom level? If someone's default zoom level is 200%, shouldn't they be required to zoom out to 100% to see if the whole text fits?

Although this does imply that I should just assume a default level of 100% and not try to read it from the browser...

[2019-07-26 20:17] mikebarklage commented on #239
I've changed the default zoom variable to always be 125%. Does it look any better now?

[2019-07-26 20:20] drewnielson commented on #239
Looks good to me. Even if someone's default zoom level is something greater than 100% (and the transcript displays with clipped text), 18,A would still be a fail. I think this is good to go.

[2019-07-26 20:20] #239 closed, assigned to mikebarklage

[2019-07-26 20:21] drewnielson commented on #271
verified on dev

[2019-07-26 20:21] #271 closed, assigned to drewnielson, Tonylayton1

[2019-07-26 20:23] Tonylayton1 commented on #280
1: Add "to" in the g1_07 checkbox label as shown above.

2: Update the webpage header text shown above to "Device Information".

[2019-07-26 20:27] Tonylayton1 commented on #278
The dummy link is being used for the forced keyboard trap.

The mute button did not exist before the most recent round of updates and it is never the correct answer.

Mike can we add it to the end of the r2 list as r2e09? luckily this won't shift any numbers around.

Edit- please also move mute to be the last button on the webpage so it matches the checkbox list. Currently it is to the left of the

[2019-07-26 20:28] AnnMarieDavis commented on #276
Verified on Practice Exam for ZipChip logo (text)

[2019-07-26 20:28] #276 closed, assigned to mikebarklage, Tonylayton1

[2019-07-26 20:31] drewnielson commented on #269
verified on dev

[2019-07-26 20:31] #269 closed, assigned to drewnielson, mikebarklage, Tonylayton1

[2019-07-26 20:35] drewnielson commented on #273
verified on dev

[2019-07-26 20:35] #273 closed, assigned to drewnielson, Tonylayton1

[2019-07-26 20:37] AnnMarieDavis commented on #273
See page for an example that should fail for 15.A. Of the 3 items marked with ::before and ::after, the text associated with, "Enter your device type ID..." should fail  http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-practice/testPages/page2_main.php?KeyID=1651

[2019-07-26 20:40] Tonylayton1 commented on #274
verified on dev

[2019-07-26 20:43] mikebarklage commented on #231
I just updated it so hopefully the new img link isn't broken in emails - my web email reader just gives me the alt text, but let me know how it looks on other devices.

[2019-07-26 20:45] Tonylayton1 commented on #149
Okay I can confirm they look identical now.

The issue is that even though they are definitely only in the correct order visually because of CSS, linearize page does not show the issue. If you highlight the list headers and lists with a mouse or disable CSS you can see that the reading order would be wrong. Not sure what to do here.

Here is the order when CSS is disabled:

![image](https://user-i

[2019-07-26 20:51] Tonylayton1 commented on #262
Verified on Dev

[2019-07-26 20:52] Tonylayton1 commented on #252
Please verify. The two NC elements shown above are easy to mistake as the same but they are different answers.

[2019-07-26 20:57] Tonylayton1 commented on #243
4.F should no longer fail when the checkbox toggle forces focus to the top of the screen. Remove r4e03 from the list of failure reasons for 4.F.

This also means that 4.G and 4.H can be independent of 4.F, 4.A, and 4.C (the three of which are still dependent on each other)

[2019-07-26 21:00] Tonylayton1 commented on #248
I concur, and this should be covered by issue #243

[2019-07-26 21:01] drewnielson commented on #278
For the dummy links, just to avoid confusion for students, let's change the inner text to "dummy link - do not test"

[2019-07-26 21:01] mikebarklage commented on #243
Currently, 4.A, 4.C, and 4.F are linked only on pages 1 & 2.

On page 3, the link is between 4.A, 4.F, 4.G, and 4.H. They are all either C or NC together.

Should this become 4.A, 4.G, and 4.H?

[2019-07-26 21:01] Tonylayton1 commented on #235
Good catch.

Mike, is it possible to have the AD audio be muted and unmuted in step with the standard audio track?

[2019-07-26 21:16] mikebarklage commented on #280
Done.

[2019-07-26 21:17] mikebarklage commented on #280
With this structural change, you might also want to reset your exams on the Admin page.

[2019-07-26 21:18] mikebarklage commented on #278
This is done.

I also put this on the wrong item, but it belongs here: With this structural change, you might also want to reset your exams on the Admin page.

[2019-07-26 21:23] Tonylayton1 commented on #243
No, the only reason 4.A was in the mix is because 4.F was the common factor. 4.F was failing when 4.A failed and also failing when 4.G and 4.H failed. Because the latter is no longer true, 4.A + 4.F are independent of 4.H + 4.G

[2019-07-26 21:25] mikebarklage commented on #243
OK, this is updated.

[2019-07-26 21:26] mikebarklage commented on #235
I'm checking, but I'm not sure when I'll have an answer. I only mention that because it's 5:30 on a Friday, your time.

[2019-07-26 21:51] Tonylayton1 commented on #231
Issue with the failure message. It is correct the first 2 times, but when the user fails a third time, the message changes. I think there is still code telling the message to change after three tries, even though there is no longer a limit on tries.

[2019-07-26 21:59] Tonylayton1 commented on #231
The passing message is working as well, except that the email links don't work in either the course or the email that gets sent.

To summarize the 2 issues:
If user fails 3 times, the failure message changes
email hyperlinks found in the fail and pass messages do not work

[2019-07-26 22:06] Tonylayton1 commented on #232
Still seeing this issue. I took the exam multiple times. the admin view on my first 2 attempts is fine, but the admin view on my third attempt breaks when it gets to page 2, topic 5. the admin view for my 4th and 5th attempt both only show the collapsed topic 1.

the score on all of these is correct however.

Mike, I'll leave my attempts for this one up so you can look through them on the admin to

[2019-07-26 22:10] mikebarklage commented on #231
I believe this is fixed now.

[2019-07-26 22:28] mikebarklage commented on #235
I have to tentatively answer this with a "no." The videoPlayerAD.js code we're using has interfaces for stop, pause, and resume, but no state for "playing but muted." And I don't see a way to force it from outside the code - it's using the same video element that is marked as "muted" and ignoring that.

It might help if I knew where we got the code? Maybe it has some documentation. Otherwise we mi

[2019-07-26 22:32] Tonylayton1 commented on #235
What about forcing the AD to be off when the main audio is muted?

[2019-07-26 22:38] Tonylayton1 commented on #215
This is the same issue as #232

[2019-07-26 22:51] mikebarklage commented on #235
That's possible, assuming it doesn't interfere with testing scenarios.

[2019-07-26 22:55] mikebarklage commented on #272
This is fixed.

[2019-07-26 23:39] mikebarklage commented on #232
The problem here was not number of attempts, but the fact that an entire page was previously answered correctly. The code didn't know how to handle that. I think it's fixed now.

[2019-07-29 13:32] AnnMarieDavis commented on #262
verified

[2019-07-29 13:32] #262 closed, assigned to drewnielson, AnnMarieDavis, mikebarklage, Tonylayton1

[2019-07-29 13:40] AnnMarieDavis commented on #274
I'm having trouble with audio description, the video is just freezing at that point.

[2019-07-29 13:41] AnnMarieDavis commented on #215
Verified fixed and closed

[2019-07-29 13:41] #215 closed

[2019-07-29 13:45] drewnielson commented on #274
Pretty sure that is the expected bahvior - the video pauses in order to
provide enough time for the audio description to catch up and describe the
video before moving on.

[2019-07-29 13:52] AnnMarieDavis commented on #248
Need to review the latest exam results with Andrew.

[2019-07-29 13:54] AnnMarieDavis commented on #252
Verified that both answers are not being required for the same issue.

[2019-07-29 13:54] #252 closed, assigned to mikebarklage

[2019-07-29 14:46] AnnMarieDavis opened #282 "4.E-H Incorrect Answers on PE Answer key"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [X] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
The Answer Key for http://52.23.182.152/dhsv5/dhscour

[2019-07-29 14:55] AnnMarieDavis opened #283 "Form Title element on Student Answer sheets"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [X ] Other, specify...Use of outdated terms in title attribute for forms
## Description
On hover, the title element displays outdated terms (co

[2019-07-29 14:56] Tonylayton1 commented on #235
As long as it knows to check whether AD is toggled on or off whenever you unmute, and functions accordingly, it should not interfere with any other tests

[2019-07-29 15:03] AnnMarieDavis commented on #147
Issue fixed in Practice Exam

[2019-07-29 15:03] #147 closed

[2019-07-29 15:05] Tonylayton1 commented on #272
Verified on Dev

[2019-07-29 15:16] Tonylayton1 opened #284 "Practice exam 13.C Page 1 default answer"
The answer sheet says 13.C is dna on page 1. the default answer should be C.

[2019-07-29 15:36] Tonylayton1 opened #285 "practice exam 17.E page 3 default answer"
for some reason 17.E is showing as c on the answer sheet, but this ID is not tested on this page. It should always be dna on page 3.

[2019-07-29 15:38] Tonylayton1 commented on #232
verified on dev

[2019-07-29 15:42] Tonylayton1 commented on #231
The number of attempts issue is verified on dev.

3 issues remain:
The email links still don't work
The images (as mike predicted) do not show up on the email
When the student revisits a completed exam and the results screen is shown, it is not displaying correctly.

I will open 3 separate issues on this so that this issue can be closed.

[2019-07-29 15:45] Tonylayton1 opened #286 "Exam results screen minor issues"
There are currently 2 minor issues with the results screen:

email links found in the results don't do anything when clicked
the images show up fine in the results screen, but not in emailed results

[2019-07-29 15:47] Tonylayton1 opened #287 "revisiting exam that has been passed"
when I have passed the exam, the results screen shows up correctly, but when I exit the exam and revisit it (which takes me straight to the results screen) the results are not displaying correctly.

-The missed IDs table is not showing up
-The contents of the results screen are bleeding out of the white area down into the blue

[2019-07-29 15:49] Tonylayton1 commented on #280
verified on dev

[2019-07-29 15:53] Tonylayton1 commented on #243
I have 4.F failing by itself now, which shouldn't be possible. It should only fail when 4.A fails.

[2019-07-29 16:03] Tonylayton1 commented on #282
having difficulty replicating the rest of this issue, but can confirm that 4.E is counting the wrong NC reason as correct. when 4.E on page 3 is NC, the reason should be r4_5 (currently counting r4_3 instead)

[2019-07-29 17:01] mikebarklage commented on #282
Updated to r4_5.

[2019-07-29 17:03] mikebarklage commented on #285
Fixed.

[2019-07-29 17:04] mikebarklage commented on #284
Fixed.

[2019-07-29 17:05] mikebarklage commented on #243
I took the above to mean 4.A and 4.F were independent of each other as well. I've re-added their link on page 3.

[2019-07-29 17:14] mikebarklage commented on #286
I had used legacy functionality to populate the email link, but now I've replaced that JS call with a simple href mailto element. It had been working for me previously, but check it again and see if it works for you now.

Can you copy the image link here as it appears in your email? My web email app is not cooperating.

[2019-07-29 17:17] Tonylayton1 commented on #286
the image in the email doesn't grab anything when I copy it and has no properties. It is showing up as the typical red X indicating a missing or broken image.

[2019-07-29 17:17] mikebarklage commented on #286
It's worth noting that the text on the results page is exactly what is sent via email, so the new image there is used in both places. Most email readers will block that image for security purposes unless the user allows it to be displayed.

[2019-07-29 17:18] Tonylayton1 commented on #286
Ah you're right. I had to allow the image and that's working fine now. missing image is a non issue.

[2019-07-29 19:09] mikebarklage commented on #235
Currently, a 17.D failure means AD is on by default with no button. Since the video always starts muted, AD will now always be off by default. When 17.D is NC, should clicking Unmute turn on AD? Or should the AD button now appear?

[2019-07-29 19:33] Tonylayton1 commented on #235
for the 17.D failure, clicking unmute should turn on the AD yes. While the AD is technically off, there is no way to control it independently of the main track, which would still fail 17.D.

[2019-07-29 21:03] mikebarklage commented on #235
OK, I've rewritten it so, if AD is off, the code also stores the reason why it is off, and toggles AD accordingly. Give it another try.

[2019-07-29 22:17] Tonylayton1 commented on #284
verified on dev

[2019-07-29 22:18] Tonylayton1 commented on #243
verified on dev

[2019-07-29 22:19] Tonylayton1 commented on #285
17.E is fixed but now 17.F is showing as C. it should also always be dna

[2019-07-29 22:20] Tonylayton1 commented on #282
verified on dev

[2019-07-29 22:24] Tonylayton1 commented on #278
verified on dev

[2019-07-29 22:28] mikebarklage commented on #285
Updated 17.F as well.

[2019-07-30 11:50] AnnMarieDavis commented on #278
Fix is noted for the dummy links, but the names of the buttons on the answer sheet still do not match the names of the buttons on the page.  As noted in the screenshots above, the media players buttons on the page being tested are: **Skip Back, Skip Forward**, Transcript and Mute/Unmute. However, Region 2 of the answer sheet presents to the student: **Play/pause button, Rewind button, Forward butt

[2019-07-30 11:58] AnnMarieDavis commented on #280
verified

[2019-07-30 11:58] #280 closed, assigned to drewnielson, Tonylayton1

[2019-07-30 12:08] AnnMarieDavis commented on #231
1. The images would be very nice to have, but we can leave those off if they prove too problematic....
1. However, the integrity of the message after 3 fails is crucial....
1. The email links really should to work (but if needed, a workaround that provides just the address is possible)

[2019-07-30 12:09] AnnMarieDavis commented on #232
Verified

[2019-07-30 12:09] #232 closed, assigned to drewnielson, AnnMarieDavis, mikebarklage, Tonylayton1

[2019-07-30 12:15] AnnMarieDavis commented on #274
The AD is now playing again as expected and the bug I was experiencing with the video freezing seems to be resolved.  Though there used to be some AD at the very beginning of the video - guess it was decided to remove that since it's not crucial.

Closing this issue.

[2019-07-30 12:15] #274 closed, assigned to mikebarklage

[2019-07-30 12:53] AnnMarieDavis opened #288 "19.A Multiple Ways passing example for PE"
## Issue Type
- [X] Other, specify...no randomization example provided for 19.A

## Description
The answer to 19.A is always the same on the Practice Exam.  The only method to navigate to the web pages is by using links that appear at the top and bottom of the page. This is only one method and is always a failing answer for the practice exam.

## Location
Practice Exam, Topic 19

## Expected Behav

[2019-07-30 13:52] AnnMarieDavis commented on #231
Wording looks great and I did see the image in the message
http://52.23.182.152/dhsv5/scormapi/lesson1.php?SCOInstanceID=159&studentName=Ann%20Marie%20Davis&ltiUserId=123&studentEmail=annmarie.davis@associates.hq.dhs.gov&examId=2

The email link also worked for me - though the Subject line did not populate with the one in the link provided.

Also there are open bullets (look like a circle outlined

[2019-07-30 14:09] AnnMarieDavis commented on #282
Verified

[2019-07-30 14:09] #282 closed, assigned to drewnielson, Tonylayton1

[2019-07-30 14:15] AnnMarieDavis commented on #284
verified

[2019-07-30 14:15] #284 closed, assigned to mikebarklage

[2019-07-30 14:17] AnnMarieDavis commented on #248
Issue will be tracked with #243

[2019-07-30 14:17] #248 closed, assigned to mikebarklage

[2019-07-30 14:20] AnnMarieDavis commented on #272
Verified

[2019-07-30 14:20] #272 closed, assigned to drewnielson, AnnMarieDavis, Tonylayton1

[2019-07-30 16:25] mikebarklage commented on #274
There are 2 different versions of the AD depending on whether 17.B fails. One of them is missing the first audio segment.

[2019-07-30 16:30] mikebarklage commented on #231
I always get the subject line Post OFTE 251 Exam Review, which itself is probably no longer accurate.

[2019-07-30 16:54] drewnielson opened #289 "5.G Incremental - incorrect elements noted in fail"
Incorrect page elements noted in NC result:
![image](https://user-images.githubusercontent.com/29068131/62149008-c633d600-b2c8-11e9-90af-2a336009c221.png)

Correct NC element should only be "The user cannot reverse the submission, was not presented with an option to review, confirm, or correct information before finalizing the submission, and the page did not check for data input errors or allow t

[2019-07-30 16:55] Tonylayton1 commented on #235
verified on dev

[2019-07-30 16:56] Tonylayton1 commented on #285
verified on dev

[2019-07-30 17:07] Tonylayton1 commented on #278
I see, I missed the lede here. We updated the video player button names to match the changes made in the incremental, but I forgot to specify updating the checkboxes in kind.

Checkbox document updated. Please update the checkbox labels to "Skip Back button", "Skip Forward button", "Closed Captions button" and "Audio Description button"

Lastly, remove the "Accessibility button" from the checkbox

[2019-07-30 17:13] Tonylayton1 commented on #289
mike, this looks very similar to issue #272 from the practice exam. same ID too.

[2019-07-30 17:40] mikebarklage commented on #278
These changes are done, although it may take some time/effort to force your browser to recache the checkbox lists.

The only Test ID answers I needed to update for this page were 17.D.

Also note that the checkboxes are not dynamic and sometimes don't match the web page exactly, depending on whether certain IDs fail so buttons don't appear.

[2019-07-30 18:09] AnnMarieDavis opened #290 "Topic 6 Answer sheet and button names"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [x] Typo/grammar
- [ ] Incorrect content

## Description
The names of the buttons on the answer sheets do not match the buttons that appear on the page.  On the answer sheet, students erroneously see an "Accessibiity button" option and do not have an option to selec

[2019-07-30 19:13] drewnielson commented on #289
Sorry, I think I confused 5.G with 5.H. The first element ("The user cannot reverse the submission...") would make sense as a correct response for 5.H, but not 5.G. Is the wrong answer sheet being presented to students? Can you confirm correct answer sheet and correct elements?

[2019-07-31 14:34] Tonylayton1 commented on #278
verified on dev

[2019-07-31 14:37] Tonylayton1 commented on #286
verified on dev

[2019-07-31 17:15] drewnielson commented on #149
I sent the issue to the ANDI developer at SSA. In the meantime let's add position:relative to each of the styles so ANDI will at least highlight those sections.

So in the style added to the `<head>` element:
[code]

[2019-07-31 17:35] mikebarklage commented on #149
Done.

[2019-07-31 18:05] drewnielson commented on #243
verified on dev

[2019-07-31 18:05] #243 closed, assigned to mikebarklage

[2019-07-31 18:06] drewnielson commented on #149
verified on dev

[2019-07-31 18:06] #149 closed

[2019-07-31 18:25] drewnielson commented on #286
verified on dev

[2019-07-31 18:25] #286 closed, assigned to mikebarklage

[2019-07-31 18:45] drewnielson commented on #278
verified on dev

[2019-07-31 18:45] #278 closed, assigned to drewnielson, Tonylayton1

[2019-07-31 18:53] drewnielson commented on #235
verified on dev

[2019-07-31 18:53] #235 closed, assigned to mikebarklage

[2019-07-31 18:55] drewnielson commented on #285
verified on dev

[2019-07-31 18:55] #285 closed, assigned to mikebarklage

[2019-07-31 20:12] Tonylayton1 commented on #287
![image](https://user-images.githubusercontent.com/52048615/62244680-eee1cb80-b3ad-11e9-808c-49726bc2f74d.png)

[2019-07-31 20:13] Tonylayton1 commented on #287
Summary looks fine upon initially passing the course, but if I exit and reopen the module, the final screen looks like the screenshot above.

[2019-07-31 20:50] drewnielson opened #291 "Provide specific reasons for wrong answers in results"
A couple students have requested more specific feedback in order to better understand why they are getting questions wrong. Two possible solutions, at least for the incremental exams:
* On the results screen/email, indicate correct response and which elements should have failed.
* Provide the link to their test page for that attempt so they can review page to identify the correct answers now that

[2019-08-01 19:30] AnnMarieDavis opened #292 "11.A answer sheet"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [X] Other, specify...Confusing text for students on answer sheet

## Description
Students are confused by the options on the answer sheet for 11.A and 11.B.
**Current for 11.A:** The default primary langua

[2019-08-01 19:36] AnnMarieDavis opened #293 "Length of answer sheet"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [X] Other, specify...some answer sheets are too lengthy and include NA options

## Description
Some answer sheets are too lengthy and include m

[2019-08-02 13:07] drewnielson commented on #289
@mikebarklage and @Tonylayton1 if possible, let's try to expedite this fix. It is creating a fair amount of confusion for students/instructors.

[2019-08-02 13:11] drewnielson commented on #289
Looked at this again, and it appears that the admin tool is presenting correct answers that are not even available to students on their answer sheet, so it might just be that the admin tool is pulling from the wrong response set, even if the answers are scored correctly for students.

[2019-08-02 13:36] AnnMarieDavis opened #294 "13.B Failing Example of Shape alone"
## Issue Type
- [X] Other, specify...Confusing Example

## Description
Good morning Ann Marie and Andrew,
I have a comment/suggestion about Use of Sensory Characteristic, example 2, FAIL.  I think this sample is a little ambiguous, and it would be really helpful it if is revised

The explanation about the FAILS says:
When a pamphlet title is in stock, it is marked with an image of a check mark. Wh

[2019-08-02 13:40] AnnMarieDavis commented on #294
Andrew, please close once you verify the change made and determine it is sufficient.

[2019-08-02 13:50] drewnielson commented on #294
Looks good. Thanks Ann Marie!

[2019-08-02 13:50] #294 closed, assigned to drewnielson, AnnMarieDavis

[2019-08-02 14:14] Tonylayton1 commented on #289
I can confirm. The correct answers are r2_5, r2_6, and r2_11 from the page 3 checkbox array, and the answers being displayed are rO_5, rO_6, and rO_11 from the global checkbox array

[2019-08-02 16:05] mikebarklage commented on #289
The answers are in the DB correctly, it does seem to be a display issue.

[2019-08-02 16:14] mikebarklage commented on #289
The fixes I made to the admin page on Dev should have propogated over on Wed and probably fixed this. However, I don't have permission to view the admin page on Pilot Dev. Can someone check and see?

[2019-08-02 18:28] drewnielson commented on #289
Sorry Mike, I just added you to the admin tool in production. You should see it on your dashboard now when you go to https://training.section508testing.net.

Looks fine in dev, but in production, still seeing the elements from the global checkbox array for 5.G:

![image](https://user-images.githubusercontent.com/29068131/62390981-989d9580-b531-11e9-8eee-a9ef4e6c6d56.png)

[2019-08-02 18:44] mikebarklage commented on #289
It has the correct answers in my browser. Maybe a cache refresh?

[2019-08-02 19:25] drewnielson commented on #289
Doh - yep, that did it. Sorry to blow it out of proportion. Closing the issue.

[2019-08-02 19:25] #289 closed, assigned to mikebarklage, Tonylayton1

[2019-08-06 12:56] AnnMarieDavis opened #295 "Practice Exam Confirmation dialog"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [X] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
The confirmation message for the practice exam tells users to select "Yes", but the button is labled "OK"
![Practic

[2019-08-06 14:49] drewnielson commented on #295
Does “Yes” or “OK” depend on what browser you are using?

[2019-08-06 16:25] AnnMarieDavis commented on #295
It is the same behavior in Chrome and Firefox.

[2019-08-06 16:39] mikebarklage commented on #295
It's also "OK" in IE.

I have updated this text in the Practice and Final exams.

[2019-08-07 12:21] HD508Github opened #296 "Practice Exam - Course Introduction Issue"
Location: Course Overview and Structure page
URL: https://training.section508testing.net/mod/book/view.php?id=1421&chapterid=3259
Issue:  Under the Test Process (Topics 2, 4-19) section, the third bullet reads confusingly.  It should read as: “…to determine when a test condition does not apply, passes or fails…”

![image](https://user-images.githubusercontent.com/34749031/62622419-4e7b3200-b8ec-11

[2019-08-07 12:53] labinva opened #297 "Trusted Tester Training for Web on Windows / 5.H 3.3.4-error-prevention"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [x] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-08-07 13:15] drewnielson commented on #296
fixed

[2019-08-07 13:15] #296 closed, assigned to nobody

[2019-08-07 13:21] drewnielson commented on #297
@labinva, each time you make an exam attempt, the underlying code on the page may be different, even if the page looks the same. What might be a failure on one version of the exam page could be a pass on a different version of the exam page. For each attempt, you need to re-examine the page, With that said, I would be happy to review your exam attempt to identify whether there is still some issue.

[2019-08-07 13:58] labinva commented on #297
Hi Andrew,

Its Lynnette Banning. I guess I should create a GitHub account using my
name!

Yes. I was aware to retest each page as if different, but perhaps I didn't.
That must have been the issue.  I just wanted to report that happened in
case anyone else encounters it.

Hope all is well.
Lynnette

On Wed, Aug 7, 2019 at 9:21 AM Andrew Nielson <notifications@github.com>
wrote:

--
*Lynnette Banni

[2019-08-07 14:19] drewnielson commented on #297
Hi Lynn! I'll take a look at your exam attempts.

[2019-08-07 14:34] #297 closed, assigned to nobody

[2019-08-07 14:59] labinva commented on #297
BTW, I wanted to say that I think the training course is Excellent.

I did have a lot of difficulty in the Incremental Exams for the first few
topics though because in many cases it wasn't clear to me how to fill out
the Answer Sheets.

Marching on...

On Wed, Aug 7, 2019 at 10:19 AM Andrew Nielson <notifications@github.com>
wrote:

--
*Lynnette Banning LLC*
*Section 508 Web Accessibility Consulta

[2019-08-12 12:34] smh243 opened #298 "Practice Exam- Course PDF"
- [X ] Other,

https://training.section508testing.net/mod/book/view.php?id=1421&chapterid=3259

Course Introduction, Course Overview and Structure states "use the PDF of the course content for reference purposes."
Is that PDF being supplied via a link?

[2019-08-12 20:04] smh243 opened #299 "Practice exam congrats"
Text runs off of the white area into the blue background where it is almost unreadable.

[2019-08-12 20:06] drewnielson commented on #298
It was intended to be provided via a link - still will be, but we just had some issue with producing it. We'll post it as soon as possible.

[2019-08-12 20:08] drewnielson commented on #299
Doh - thought we fixed that.

@mikebarklage, and @Tonylayton1, looks like we still have an issue with the text running into "off the page" into the blue background on the congrats screen.

[2019-08-13 13:44] drewnielson commented on #291
On further thought, let's investigate feasibility to provide a hint for a wrong answer and provide the ability to re-try the previous attempt.

[2019-08-13 14:37] smh243 opened #300 "Practice exam completion."
I completed the Practice exam yesterday 8/12/2019.
If I go into the course it shows all the boxes as check.
The dashboard still shows a status of Enrolled and completed Not available.
If my memory serves me correctly the other courses in the Dashboard updated almost real time.
Not sure if this is really an issue.

[2019-08-13 14:45] drewnielson opened #301 "WORKBALANCE text in background image should not be a failure for 7.A"
On the page below, when WORKBALANCE logotype is presented as a background image, it should NOT be included as a failure for 7.A. Test ID 7.A only applies to inline images.

https://exams-dev1-c.section508testing.net/dhsv5/scormapi/admin.php?SCOInstanceID=516&KeyID=2787&ExamID=7
https://exams-dev1-c.section508testing.net/dhsv5/dhscourse/Lesson1/exams/web-incremental/testPages/index.php?KeyID=2787

[2019-08-13 14:51] drewnielson opened #302 "Modify text for failure option on 7.E"
Current failure option: "Qualities table text"
Change to : "Qualities table text (all four instance of text next to the images)"

Some students have been confused about what item to select for the image of text failure. Students have been selecting each of the options for Qualities table Image 1, Image 2, etc.. Hopefully the above modification will clarify the text refers to all four instances.

[2019-08-13 14:56] drewnielson commented on #300
Yes, definitely an issue. Working on a fix, and will have resolved by the time the Final exam is ready.

[2019-08-13 15:04] smh243 commented on #300
Do you have a prospective ETA on the Final exam?

Mark Hamrick
eLearning Producer
DHS Certified 508 Trusted Tester 300817
[JAWS Certified, 2019]<http://www.freedomscientific.com/Certification>
207 623 8411 x2291
EES eLearning Division
Department of Veterans Affairs

To learn more about EES, visit vaww.ees.lrn.va.gov<http://vaww.ees.lrn.va.gov/>.
[cid:image006.jpg@01D551C6.C8ADDE70]
“It’s only when

[2019-08-13 15:46] AnnMarieDavis opened #303 "Revise answer sheets that do not contain Regions"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [X] Other, poor user experience particularly for users of screen readers

## Description
Answer sheets with multiple check boxes (but no regions to organize the choices) provide columns of possible answers

[2019-08-13 16:09] AnnMarieDavis opened #304 "Create table sample with sensory characteristics and images"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [X] Other, specify... image example needed that has applicable test conditions across multiple topics

## Description
Students need to see an example with test content for a data table with sensory charact

[2019-08-13 16:23] AnnMarieDavis commented on #299
I modfied the text since we want students to still know the items they missed. We will also need the results to display in these messages, just as they do for the "Nice Try" message
[Congratulations Practice.docx](https://github.com/Section508Coordinators/DHSA-TT-200-A/files/3497927/Congratulations.Practice.docx)

[2019-08-13 17:19] AnnMarieDavis opened #305 "Interactive passing example fails when SHIFT + TAB"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [X] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
Students are able to navigate OUT of the passing example for the modal dialog box by navigating backwards.  The exa

[2019-08-13 17:30] AnnMarieDavis commented on #305
https://www.w3.org/TR/wai-aria-practices-1.1/

[2019-08-13 19:08] Tonylayton1 opened #306 "instructions text for incremental and practice"
Issue in final exam was made to update the instructions found on each test ID list page to

"Select Test This Page to open a new window with the content to be tested. You will need to open the ANDI tool to perform applicable tests. Report the test results for this topic using Enter Results (or Modify Results) below. When done, navigate to the next page to submit your results.

This was not made fo

[2019-08-13 21:24] Tonylayton1 commented on #303
This is the global checkbox list which is the same across all pages and exams. It is used for IDs where selecting the visual elements found on the webpage would not make sense to answer the question.

Option 1 would likely be a huge effort (Mike please correct me if I'm wrong) but I imagine dividing the checkbox list up with headings like in the page-specific checkbox lists should be relatively st

[2019-08-13 21:34] Tonylayton1 commented on #302
Mike, this is for website 1 page 1, checkbox r2_6. Expand it to say "Qualities table text (all four instance of text next to the images)" as specified above. I've updated the relevant document.

[2019-08-13 21:44] Tonylayton1 commented on #301
When 7.C fails, it shouldn't fail 7.A, so these two IDs can be unlinked.

When the logo is a background image, 7.A should no longer be affected, and 7.C is "nc" just as it is now.

note that there is a separate 7.A failure for the site logo image just above this. it should still fail as before, only difference is it is no longer tied to 7.C.

When 7.A fails, the reason should be r1_1 (no longer r1

[2019-08-13 21:47] Tonylayton1 commented on #299
Do we know if this student exited and returned to the course to get this error? This is what I was experiencing with issue #287 which is still unresolved, but I only experienced this after exiting the exam at the congrats screen and opening it again. Upon initially reaching the congrats screen, it displayed correctly.

[2019-08-13 21:49] Tonylayton1 commented on #293
Is this the same as #303 ?

[2019-08-13 21:51] Tonylayton1 commented on #292
the issue with 11.A seems straightforward and we can change the text on those checkboxes. Please clarify the issue with 11.B

[2019-08-13 21:56] Tonylayton1 commented on #153
I didn't think about the implications of 16.A since it's background audio. Where would it be appropriate to add the transcript for this?

[2019-08-13 22:45] mikebarklage commented on #303
Option 2 might not be less work. The "r" values in the checkbox names are meaningful in the output of the page (r1, r2, etc). The checkbox page in question is rO, for Other. I'd have to add some other way of marking them into groups, in the data structure and/or in the JS code.

FWIW, aside from some tweaks, this is the same checkbox page as in the v4 exam.

[2019-08-14 11:15] smh243 commented on #299
I do not remember if I exited and came back in. I am thinking not, but would not swear to it.

It did not show up on the pages where I had not passed the exam. The missed questions feedback was there.

Once I passed the exam the missed questions info was not available.

Mark Hamrick
eLearning Producer
DHS Certified 508 Trusted Tester 300817
[JAWS Certified, 2019]<http://www.freedomscientific.com/C

[2019-08-14 14:43] drewnielson commented on #300
Fixed original issue (completion status on dashboard).

We're shooting for next Friday for the release of the final/certification exam.

[2019-08-14 14:43] #300 closed, assigned to drewnielson

[2019-08-14 14:53] smh243 commented on #300
Awesome, Thanks

Mark Hamrick
eLearning Producer
DHS Certified 508 Trusted Tester 300817
[JAWS Certified, 2019]<http://www.freedomscientific.com/Certification>
207 623 8411 x2291
EES eLearning Division
Department of Veterans Affairs

To learn more about EES, visit vaww.ees.lrn.va.gov<http://vaww.ees.lrn.va.gov/>.
[cid:image006.jpg@01D5528E.27ED8990]
“It’s only when you make the process your goal t

[2019-08-14 18:32] AnnMarieDavis opened #307 "Relationship between 4.A and 6.B"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [X] Other, specify...Clarification for students

## Description
If a link displays content, it should be tested for 6.A even if the revealed content was not keyboard accessible.

## Expected Behavior / Rec

[2019-08-14 21:09] mikebarklage commented on #302
Updated for exam topics 2, 6, 7, 9, 17, and 18.

[2019-08-14 21:13] mikebarklage commented on #301
Updated.

[2019-08-15 23:07] mikebarklage commented on #287
When I passed the Final exam then reopened it, I didn't get a new exam or the success page, I just got a page with the DHS header and no content. Is anyone else seeing that or just me?

[2019-08-16 14:30] AnnMarieDavis commented on #299
Mark,

To be honest, I don’t think the message when you pass the Practice Exam includes items you missed.  I realized earlier this week that students would need to know that information to be able to review those topics before taking the final exam. We are in the process of correcting that – and you will have this information for the Final Exam when you pass it as well.

I looked at your answer sh

[2019-08-16 14:41] smh243 commented on #299
Thanks so much,
That was very helpful!
Mark

Mark Hamrick
eLearning Producer
DHS Certified 508 Trusted Tester 300817
[JAWS Certified, 2019]<http://www.freedomscientific.com/Certification>
207 623 8411 x2291
EES eLearning Division
Department of Veterans Affairs

To learn more about EES, visit vaww.ees.lrn.va.gov<http://vaww.ees.lrn.va.gov/>.
[cid:image006.jpg@01D5541F.21E73EA0]
“It’s only when you

[2019-08-16 15:01] AnnMarieDavis opened #308 "Title element for radio buttons on Answer Sheet"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [x] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
OAST **sampled** Practice and Incremental exam answer

[2019-08-16 15:35] AnnMarieDavis commented on #303
Yes, I realized this was wrong when I was testing earlier, but it wasn’t a high priority… but we really should make it right.

Kind Regards,
Ann Marie

iPhone: 202-815-5428
Room 2020-07
annmarie.davis@associates.hq.dhs.gov<mailto:annmarie.davis@associates.hq.dhs.gov>

[cid:42523328-67EE-43C4-AC62-F470BA4429D1]
      [2018 Leading Disability Employer Seal]

From: mikebarklage <notifications@github.

[2019-08-16 15:45] AnnMarieDavis commented on #153
That’s a great question!  Off the top of my head, I have NO idea.  Let me confer with Andrew and some other folks.

Kind Regards,
Ann Marie

iPhone: 202-815-5428
Room 2020-07
annmarie.davis@associates.hq.dhs.gov<mailto:annmarie.davis@associates.hq.dhs.gov>

[cid:42523328-67EE-43C4-AC62-F470BA4429D1]
      [2018 Leading Disability Employer Seal]

From: Tonylayton1 <notifications@github.com>
Sent: T

[2019-08-16 15:53] AnnMarieDavis commented on #292
The answer sheet for 11.B is currently asking students to identify the phrase that fails. However, when there is a language that is different from the default language of the page, the test conditions are the "same" as for the language of page.  1. the language of the segment is correctly specified per IANA and 2. the identified language matches the language of the segment.

[2019-08-16 15:56] AnnMarieDavis commented on #153
Talked with Andrew and we think you could just add a transcript button right next to the audio on/off button. Just need something simple in the transcript like: Page audio: birds chirping

[2019-08-16 16:51] Tonylayton1 commented on #153
I'll add this is jira. moving this to review in GitHub.

[2019-08-16 23:58] dderouchey opened #309 "interference"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [x] Typo/

[2019-08-19 12:15] AnnMarieDavis commented on #292
Suggested wording for 11.B answer sheet:
- The language for the content _segment _that differs from the primary language of the page is correctly specified per IANA.
- The identified language in the lang attribute correctly matches the human language for the content segment.

[2019-08-19 16:06] AnnMarieDavis commented on #153
This is a JIRA issue - not for GitHub

[2019-08-19 16:06] #153 closed

[2019-08-19 21:04] Tonylayton1 opened #310 "Practice exam: Autoplaying audio page 2"
In chrome, the auto-playing audio will not play if I open page 2 directly. If I navigate to page 2 from one of the other 2 pages it works fine.

In firefox, the auto playing audio will not play at all. If I toggle play/pause a few times it will play.

[2019-08-19 21:10] Tonylayton1 opened #311 "Incremental 11.B page 2"
When 11.B fails, the Add/Edit button should open the global checkbox list instead of the page specific list. The failure reason should be changed to rO_12.

[2019-08-19 21:13] Tonylayton1 opened #312 "Practice: 11.B page 1"
When 11.B fails, the Add/Edit button should open the global checkbox list instead of the page specific list. The failure reason should be changed to rO_12.

[2019-08-19 21:17] Tonylayton1 commented on #292
I added issue #312 based on the final exam issue for 11.B. This also changes the wording of those 2 checkboxes on the checkbox list to be simpler and to apply to both 11.A and 11.B. Please confirm that #312 addresses the issue adequately.

[2019-08-19 21:20] Tonylayton1 commented on #299
I'll add this to issue #287 so there are not 2 issues tracking the same bug.

[2019-08-19 21:22] Tonylayton1 commented on #287
One of the students saw the issue I was seeing upon initially arriving on the final screen. This is much more serious than what I was experiencing so I'll need to try and replicate it.

[2019-08-19 21:23] Tonylayton1 commented on #308
Please update the titles on the radio buttons in the incremental and practice to reflect their updated column names. (same thing that was done in the final)

[2019-08-19 21:24] Tonylayton1 commented on #283
addressed by #308

[2019-08-19 21:32] Tonylayton1 commented on #302
verified on dev

[2019-08-20 16:12] mikebarklage commented on #303
Updated as part of same task in JIRA.

[2019-08-20 17:10] mikebarklage commented on #312
Done.

[2019-08-20 17:10] mikebarklage commented on #311
Done.

[2019-08-20 17:15] mikebarklage commented on #308
Are you still seeing this anywhere? This should have changed for all exams when it was originally updated, and this may have been caused by partially cached JS code.

[2019-08-21 01:44] mikebarklage commented on #287
I think I've fixed the "no content" problem, or at least taken a step towards it.

When the exam was in a "passed" state, it was trying to load a Success HTML page (from v4) that no longer exists. I removed that, and now it just reloads the scoring page - and re-scores the exam, and re-sends the email.

Before I try to fix the Incorrect ID table that still isn't appearing (and I know 3 days before

[2019-08-21 11:43] AbdiHussein1 commented on #279
This question lesson 4 media controls question 17D is not matching the answers. All of the items that the question is asking is present such CC, AD,Transcript, play and etc and should be compliant but  that is not the case. see attached screen shot
[DHSA-TT-200-A-media controls 17DScreenShot.docx](https://github.com/Section508Coordinators/DHSA-TT-200-A/files/3525124/DHSA-TT-200-A-media.controls.17

[2019-08-22 12:05] AnnMarieDavis opened #313 "5.E answer sheet error on Practice Exam"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [X] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
The answer to 5.E is not correct.  The answer sheet for a student indicates the answer is C, but there are no form

[2019-08-22 12:17] AnnMarieDavis opened #314 "4.G Error on Practice Exam answer sheet"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [X] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
The answer expected for Page 2 of the practice exam is incorrect.  There is an unexpected change of content when fo

[2019-08-22 12:38] AnnMarieDavis opened #315 "14.B error on answer sheet for Practice Exam"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ X] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
The answer sheet states the Comparing Security table is NC, but it is located in a frame and IS properly coded.  T

[2019-08-23 09:41] AnnMarieDavis commented on #308
Yes, I see this on almost every answer sheet.
![5 Title attributes on answer sheet](https://user-images.githubusercontent.com/31414225/63583220-93e46400-c568-11e9-8eed-2f46409223a7.jpg)

[2019-08-23 09:50] AnnMarieDavis commented on #312
OAST verified

[2019-08-23 09:50] #312 closed, assigned to mikebarklage

[2019-08-23 09:55] AnnMarieDavis commented on #292
In looking at this again, I'm concerned that the language will still be confusing to students. We get a lot of complaints about not understanding the distinction between the answers. Not your fault, since I know the language comes from the test process, but can we change this across the board to:
Page language
There is no specified language of the page or segment or it is not correctly specified (

[2019-08-23 09:58] AnnMarieDavis commented on #293
OAST verified

[2019-08-23 09:58] #293 closed, assigned to drewnielson, AnnMarieDavis

[2019-08-23 10:07] AnnMarieDavis commented on #299
OK - we will track this with #287

[2019-08-23 10:07] #299 closed, assigned to mikebarklage, Tonylayton1

[2019-08-23 10:09] AnnMarieDavis commented on #283
Yes, this is a duplicate of #308  and we will track it there.

[2019-08-23 10:09] #283 closed, assigned to drewnielson, Tonylayton1

[2019-08-23 12:35] AnnMarieDavis opened #316 "17.B label on Answer Sheet for failure of AD"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [x] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
![17 B AD button desc issue](https://user-images.githubusercontent.com/31414225/63592986-e7fb4280-c580-11e9-847b-84

[2019-08-23 16:21] Tonylayton1 opened #317 "Practice exam Page 1 Checkbox list CC and AD"
Expand the text labels for these two items to the following:

Closed Captioning button and caption text – r2e06
Audio Description button and description content – r2e07

[2019-08-23 16:23] Tonylayton1 opened #318 "Incremental Page 1 checkbox list CC and AD"
Expand the text on this 2 checkboxes to the following:

Closed Captioning button and caption text – r3e09
Audio Description button and description content – r3e10

[2019-08-23 17:03] mikebarklage commented on #308
I can't replicate it:

![5titles](https://user-images.githubusercontent.com/50433189/63610027-40d0d800-c58d-11e9-89ac-0bbc75a62fa9.jpg)

[2019-08-23 18:01] AnnMarieDavis opened #319 "11.A and 11.B Language text"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [x] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
Students continue to be confused by text on the answe

[2019-08-23 18:30] Tonylayton1 commented on #318
verified on dev

[2019-08-23 18:31] Tonylayton1 commented on #317
verified on dev

[2019-08-23 18:32] Tonylayton1 commented on #303
verified on dev

[2019-08-23 18:33] Tonylayton1 commented on #310
Same issue with chrome and FF in Final, may need to add instructions.

[2019-08-23 18:35] Tonylayton1 commented on #311
verified on dev

[2019-08-23 18:37] Tonylayton1 commented on #308
This looks okay on my end as well, please clear cache and reset exam and try again

[2019-08-23 18:41] Tonylayton1 commented on #301
verified on dev

[2019-08-23 18:42] Tonylayton1 commented on #295
verified on dev

[2019-08-23 18:46] Tonylayton1 commented on #319
documentation updated, please change the 2 checkboxes for language to match the text above.

[2019-08-23 19:00] Tonylayton1 commented on #316
updated to include content in the text label based on similar issue in jira.

[2019-08-23 19:00] Tonylayton1 commented on #313
Update default for 5.E on page 1 to "dna"

[2019-08-23 19:03] mikebarklage commented on #287
My above comment should've been on the JIRA item for Final, btw. So far I see no change in Incremental behavior, haven't tried passing a Practice exam yet.

[2019-08-23 19:03] mikebarklage commented on #231
Updated.

[2019-08-23 19:06] mikebarklage commented on #319
Updated, will appear upon re-caching.

[2019-08-23 19:06] Tonylayton1 commented on #315
There is no scope on the headers, so the top left cell could either be a row or column header and requires scope to be correct. This is indicated clearly with the read dotted line. Note that this issue was already opened and closed during previous reviews.

[2019-08-23 19:08] mikebarklage commented on #313
Done.

[2019-08-23 19:10] drewnielson commented on #302
verified on dev

[2019-08-23 19:10] #302 closed, assigned to mikebarklage, Tonylayton1

[2019-08-23 19:13] drewnielson commented on #318
verified on dev

[2019-08-23 19:13] #318 closed, assigned to mikebarklage

[2019-08-23 19:14] Tonylayton1 commented on #314
When 5.E fails for r4e04, 4.G should also fail for the same reason. 4.G wasn't used on this screen yet so it should just need to be linked to 5.E.

[2019-08-23 19:17] drewnielson commented on #317
verified on dev

[2019-08-23 19:17] #317 closed, assigned to mikebarklage

[2019-08-23 19:19] drewnielson commented on #295
verified on dev

[2019-08-23 19:19] #295 closed, assigned to drewnielson, AnnMarieDavis, mikebarklage

[2019-08-23 19:21] drewnielson commented on #308
Looks OK for me too.

[2019-08-23 19:21] #308 closed, assigned to drewnielson, mikebarklage, Tonylayton1

[2019-08-23 19:26] drewnielson opened #320 "Provide clarification for necessary scope attribute at th intersection"
Related to issue #315 - need to provide example of failure where there is no scope attribute at a th intersection.

[2019-08-23 19:27] drewnielson commented on #315
Agreed that table should still fail due to no scope for the top-left table header. @AnnMarieDavis, we just need to be sure that we review the examples in the training content to make sure we address this. Opened issue #320 for you or me to address in the training content. Closing this issue and moving to deployed.

[2019-08-23 19:27] #315 closed, assigned to drewnielson, mikebarklage

[2019-08-23 19:45] drewnielson commented on #314
To me, it looks like Ann Marie might have just confused the behavior of the keyboard trap in the form elements above the radio button in question with the behavior of the radio button. I don’t think that the is an on-focus-related issue (so 4.E does not apply to the radio button behavior). I also disagree with the notion that 4.G would apply. The revealed content test is meant more for menus, pop-

[2019-08-23 19:45] #314 closed, assigned to drewnielson, mikebarklage

[2019-08-23 19:48] drewnielson commented on #316
verified on dev for both incremental and practice exam page 1

[2019-08-23 19:48] #316 closed, assigned to drewnielson, mikebarklage

[2019-08-23 20:05] drewnielson commented on #301
In [this page example](http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-incremental/testPages/index.php?KeyID=1891), the WORKBALANCE logo text is a background image, but the [answer sheet](http://52.23.182.152/dhsv5/scormapi/admin.php?SCOInstanceID=170&KeyID=1891&ExamID=7) grades it as a pass.

But in [this page example](http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-incremental/test

[2019-08-23 20:09] drewnielson commented on #303
verified on dev for practice and incrementals

[2019-08-23 20:09] #303 closed, assigned to drewnielson, mikebarklage, Tonylayton1

[2019-08-23 20:11] drewnielson commented on #311
verified on dev

[2019-08-23 20:11] #311 closed, assigned to mikebarklage

[2019-08-23 20:26] Tonylayton1 commented on #306
mike I'm going to assume this should be the same.

Make sure the instructions on the practice pages 1, 2, and 3 respectively match the updated instructions from the final. Each incremental should have the instructions from page 3 of the final. Note that incremental 9 has extra instructions below this, which should remain.

[2019-08-23 20:36] Tonylayton1 commented on #301
it doesn't look like the webpage and the answer sheet are matching up for 7.C. could 7.C still be linked to 7.A in the webpage?

[2019-08-23 20:37] Tonylayton1 commented on #319
verified on dev

[2019-08-23 20:39] Tonylayton1 commented on #231
the email subject line says exam. can the practice, exam, and incrementals have different subject lines?

[2019-08-23 20:41] Tonylayton1 commented on #313
verified on dev

[2019-08-23 20:48] mikebarklage commented on #231
Yes, but I'd have to pass a new variable into the PHP script that sends the email. Probably an enhancement for after deployment.

[2019-08-23 20:51] mikebarklage commented on #231
(Also, emails shouldn't be sent for Incrementals.)

[2019-08-23 20:58] Tonylayton1 commented on #231
As per Andrew, lets make them generic. just remove "Cerification" from the subject line

[2019-08-23 21:04] Tonylayton1 opened #321 "Practice page 1 17.A and B reasons"
When 17.A fails, change the reason to r2e06

When 17.B fails, change the reason to r2e07

[2019-08-23 21:07] mikebarklage commented on #231
Done.

[2019-08-23 21:08] Tonylayton1 opened #322 "Incremental page 1 17.A and B failure reasons"
When 17.A fails, change the reason to r3e09

When 17.B fails, change the reason to r3e10

[2019-08-23 21:10] Tonylayton1 commented on #231
verified on dev

[2019-08-23 21:11] Tonylayton1 commented on #287
the same thing is still happening to me. I get the bleed out like in the screenshot above.

[2019-08-23 21:14] mikebarklage commented on #301
7.A was still being used in both locations. I changed the word-logo to check 7.C instead.

[2019-08-23 21:17] mikebarklage commented on #321
Done.

[2019-08-23 21:25] mikebarklage commented on #306
Done.

[2019-08-23 21:35] Tonylayton1 commented on #301
verified on dev

[2019-08-23 21:37] Tonylayton1 commented on #321
verified on dev

[2019-08-23 21:40] Tonylayton1 commented on #306
Incrementals are good. Practice pages 1 and 2 still need the 1st and second sentences updated (where it mentions andi. They should be the same as page 3 except for the last sentence

[2019-08-23 21:50] mikebarklage commented on #306
Ah, right - fixed.

[2019-08-23 21:55] mikebarklage commented on #322
Done.

[2019-08-23 22:01] Tonylayton1 commented on #322
verified on dev

[2019-08-23 22:02] Tonylayton1 commented on #306
verified on dev

[2019-08-26 12:10] AnnMarieDavis commented on #319
Verified in Practice Exam

[2019-08-26 12:10] #319 closed, assigned to drewnielson, mikebarklage

[2019-08-26 12:31] AnnMarieDavis commented on #306
Sometimes the button is named "In Progress"- perhaps we should change the sentence
"Report the test results for this topic using Enter Results (or Modify Results) below."

Suggested change to that sentence only:
Report test results for this page using Enter Results; the button is alternately named In Progress or Modify Results depending upon your completion level.

[2019-08-26 14:15] AnnMarieDavis commented on #313
OAST verified.

[2019-08-26 14:15] #313 closed, assigned to drewnielson, mikebarklage

[2019-08-26 15:16] AnnMarieDavis commented on #310
Add text to the answer sheet page like image below.
![Topic  2 Answer sheet](https://user-images.githubusercontent.com/31414225/63700140-32362b00-c7f0-11e9-822e-bff24d6781aa.jpg)
The link should open a new tab or window with the following instructions.
[Topic 2 Auto-play.txt](https://github.com/Section508Coordinators/DHSA-TT-200-A/files/3541747/Topic.2.Auto-play.txt)
[Topic 2 Enable AutoPlay.docx]

[2019-08-26 17:19] mikebarklage commented on #310
This has been added to the PHP script that generates these sub-menus.

[2019-08-26 17:22] mikebarklage commented on #306
Is this a confirmed change? I only ask because it would involve updating 22 files...

[2019-08-26 17:25] AnnMarieDavis commented on #306
OAST will accept this as is.

[2019-08-26 17:25] #306 closed, assigned to drewnielson, AnnMarieDavis

[2019-08-26 17:25] AnnMarieDavis commented on #306
Too much effort for diminished return to implement the requested change.  Closed.

[2019-08-26 17:37] AnnMarieDavis commented on #322
OAST verified

[2019-08-26 17:37] #322 closed, assigned to mikebarklage

[2019-08-26 17:45] AnnMarieDavis commented on #231
I still see the bullet on the page are styled as open bullets, but the core of the message is correct.  OAST will accept this as is. Closed.

[2019-08-26 17:45] #231 closed, assigned to drewnielson, cliffbert, AnnMarieDavis, mikebarklage, Tonylayton1

[2019-08-26 18:04] AnnMarieDavis commented on #321
I've tried to take the Practice Exam several times and cannot get a failing example to test this with the randomized options being presented.

[2019-08-26 18:26] AnnMarieDavis commented on #301
OAST verified 2 randomized pages

[2019-08-26 18:26] #301 closed, assigned to mikebarklage, Tonylayton1

[2019-08-26 18:32] AnnMarieDavis commented on #310
Thanks for the quick turnaround on this.  The quotes are not displaying properly in the html... this version of the text file replaces the quotation marks with &quot;
[Topic 2 Auto-play.txt](https://github.com/Section508Coordinators/DHSA-TT-200-A/files/3542364/Topic.2.Auto-play.txt)

[2019-08-26 18:38] Tonylayton1 commented on #321
These are both says 2_1 again on the answer sheet. not sure what happened.

[2019-08-26 18:38] mikebarklage commented on #310
Updated.

[2019-08-26 18:43] Tonylayton1 commented on #310
verified on dev

[2019-08-26 18:43] mikebarklage commented on #321
Fixed.

In the stream of tickets across 3 exams, I reset the practice exam answers because I thought I had changed them by mistake.

[2019-08-26 18:47] Tonylayton1 commented on #321
verified on dev again

[2019-08-26 19:38] drewnielson commented on #287
For this one, let's just do the same thing we are doing for the final exam now: send them to a separate page telling them they've already passed.

[2019-08-26 20:09] mikebarklage commented on #287
I'll have to do a bit of research - the "completed" state may only apply to the Final exam, so our options may be limited.

[2019-08-27 00:00] mikebarklage commented on #287
I updated the way it checks whether the user has passed, and it seems to work for Final and Practice.

Incrementals still just restart the exam for me. Is that what others are seeing?

[2019-08-27 12:27] AnnMarieDavis opened #323 "6.B Incremental Practical Exam answer"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [X] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
The answer sheet is marking 6.B as PASS on the page version
http://52.23.182.152/dhsv5/dhscourse/Lesson1/exams/web-

[2019-08-27 15:01] drewnielson opened #324 "Clarify one answer sheet for each test page in practice exam"
Students are getting confused, trying to identify failures from practice exam test pages on only the first answer sheet. Clarify that the practice exam presents three separate answer sheets - one for each test page.

[2019-08-27 16:16] drewnielson commented on #324
content/clarification added

[2019-08-27 16:16] #324 closed, assigned to drewnielson

[2019-08-27 16:28] drewnielson commented on #309
@AnnMarieDavis, did you already fix this? I don't see the same issue.

@dderouchey, do you still see the numbering discrepancy?

[2019-08-27 16:37] dderouchey commented on #309
Yes, I still see the discrepancy. The numbers 4 and 5 are missing in the step process as of 8/27/2019.

![topic-5-missing-step-numbers](https://user-images.githubusercontent.com/51759875/63790499-9e7b6200-c8b6-11e9-8147-53198953b58a.png)

[2019-08-27 17:59] drewnielson commented on #309
Hmmm. @dderouchey , what browser and version are you using?

[2019-08-27 19:40] dderouchey commented on #309
Firefox Quantum 68.0.2 (64-bit)

[2019-08-27 20:30] Tonylayton1 commented on #323
When the button is not present (when 2.C fails), 6.B should be "dna" instead of "c". documentation is updated.

[2019-08-27 20:36] mikebarklage commented on #323
Done.

[2019-08-27 20:40] drewnielson commented on #310
verified on dev

[2019-08-27 20:40] #310 closed, assigned to mikebarklage

[2019-08-27 20:47] drewnielson commented on #321
verified on dev for incremental and practice exams

[2019-08-27 20:47] #321 closed, assigned to mikebarklage

[2019-08-27 21:16] drewnielson opened #325 "Remove page 3 background image as failure element in 7.A"
Related to issue #301 in incrementals.

Quoting Tony's explanation/description:
When 7.C fails, it shouldn't fail 7.A, so these two IDs can be unlinked.

When the logo is a background image, 7.A should no longer be affected, and 7.C is "nc" just as it is now.

[2019-08-27 21:19] drewnielson commented on #325
Specific to page 3 of practice exam. Not sure if it affects other pages.

[2019-08-27 21:35] drewnielson commented on #287
The practice exam let me retake the exam with a score between 90 and 100% Once I got 100%, I got the page telling me I had already passed the exam.

The incremental allows me to continue making attempts. I think we can deploy without the incrementals working like the practice for now, but let's see if we can get the incrementals to work the same way. There could be some impact on how the overall c

[2019-08-27 21:38] drewnielson commented on #323
verified on dev

[2019-08-27 21:38] #323 closed, assigned to drewnielson, mikebarklage, Tonylayton1

[2019-08-27 21:42] drewnielson commented on #287
Also just noticed that the exam admin only displays the first attempt (with a 99% score), but not the second attempt with the correct answer for the Test ID that was incorrect on the first attempt.

[2019-08-27 21:54] Tonylayton1 commented on #287
This would be the first time a course can be taken again while it's already passed. Very possible the admin page is having difficulty sorting it out.

[2019-08-27 21:56] drewnielson commented on #309
Strange. Hard coded the value for the list item number. Should be fixed now. @dderouchey, would you mind checking again? Might need to clear your cache.

[2019-08-27 22:05] dderouchey opened #326 "Page Title Purpose - clarification"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-08-27 22:09] dderouchey commented on #309
The numbering is good now.
![topic-5-missing-step-numbers-02](https://user-images.githubusercontent.com/51759875/63811589-195b7180-c8e5-11e9-8b01-15c20e693086.png)

[2019-08-27 22:10] drewnielson commented on #309
Great. Thanks for checking.

[2019-08-27 22:10] #309 closed, assigned to drewnielson, AnnMarieDavis

[2019-08-27 22:46] Tonylayton1 commented on #325
As above, unlink 7.A and 7.C. The banner being background vs foreground should not affect 7.A on the answer sheet.

When 7.A fails, it should only be for r5_4

[2019-08-27 23:55] mikebarklage commented on #325
Done.

[2019-08-28 13:17] AnnMarieDavis commented on #325
OAST verified

[2019-08-28 13:17] #325 closed, assigned to mikebarklage, Tonylayton1

[2019-08-28 13:33] AnnMarieDavis opened #327 "7.C Answer sheet correction"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [X] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
The ZipChip text logo is part of the background image on Page 3.

Answer sheet marks 7.C as **DNA**.  The ZipChip t

[2019-08-28 14:23] Tonylayton1 commented on #327
when 7.A is "c" and 7.C is "nc", the background image does not include the zipchip banner like it is supposed to be. (7.C is dna in this case).

pairs with Ann Marie's comment above, 7.C randomization appears to be broken.

this is related to issue #325 which was updated yesterday.

[2019-08-28 15:59] mikebarklage commented on #327
Fixed.

[2019-08-28 16:08] AnnMarieDavis opened #328 "Final version of email text for practice exam"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [X] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
We eliminated the Q&A sessions and so needed to make updates. Since a change was already needed, other small edits

[2019-08-28 16:46] Tonylayton1 commented on #327
verified on dev

[2019-08-28 17:47] mikebarklage commented on #328
Updated.

[2019-08-28 18:26] Tonylayton1 commented on #328
verified on dev except the em-dash on the nice try message is missing. Is this okay? it says "Trusted Tester Q&A Question Board" instead of "Trusted Tester Q&A – Question Board"

[2019-08-28 18:38] Tonylayton1 commented on #287
No longer sends user to first page, instead they land on "no further attempt needed!" - verified on dev

[2019-08-28 18:47] mikebarklage commented on #328
Should be re-added now.

[2019-08-28 19:22] Tonylayton1 commented on #328
verified on dev

[2019-08-28 19:40] drewnielson commented on #327
verified on dev

[2019-08-28 19:40] #327 closed, assigned to drewnielson, mikebarklage, Tonylayton1

[2019-08-28 19:42] drewnielson commented on #328
verified on dev

[2019-08-28 19:42] #328 closed, assigned to drewnielson, mikebarklage, Tonylayton1

[2019-08-28 19:47] drewnielson commented on #287
verified on dev

[2019-08-28 19:47] #287 closed, assigned to mikebarklage

[2019-08-28 23:25] jrautio opened #329 "Keyboard trap"
The video does not run.

[2019-08-28 23:46] jrautio opened #330 "Keyboard order"
You may select this sample page link (opens in a new window) to follow along and test this for 2.4.3-focus-order-meaning.
The example keyboard order does not match page.

[2019-08-29 15:52] kgreid-oast opened #331 "Question 9B answer sheet is wrong"
The form to select 9.B failures appears to be incorrect.  It says “Other Failure Condition Reasons.”  I can't continue until this is corrected.

[9B error.pdf](https://github.com/Section508Coordinators/DHSA-TT-200-A/files/3556402/9B.error.pdf)

[2019-08-29 19:50] drewnielson commented on #331
@kgreid-oast, please clear your browser cache and view the answer sheet again. We pushed out an update just last night to revise how that answer sheet is presented.

[2019-08-29 19:58] drewnielson commented on #326
Yes, the text along with the page numbering (page X of X) would be considered sufficient to differentiate it from other pages. We'll look for a good place to include that clarification in the course.

[2019-08-30 16:44] AnnMarieDavis opened #332 "6.B Failing example 1 in course"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [X] Other, specify...[replace this text with your issue type description]

## Description
Lesson 2: Link/Button-Related Changes: Failing exampl

[2019-09-03 11:40] AnnMarieDavis opened #333 "7.E Incremental Exam - wrong answer"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [X] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
I am still seeing student incremental exams with the wrong answer.  When the Workbalance logo is a background image

[2019-09-03 11:45] AnnMarieDavis commented on #333
![7 E answer sheet](https://user-images.githubusercontent.com/31414225/64170732-d5a1c400-ce1e-11e9-87e9-503f76bb05c7.jpg)

[2019-09-03 14:49] dduncan16 opened #334 "5E"
I am having the same issue with this topic.  I scored a 88% and can't move any further I've read the topic for three days and still stumped please help.

[2019-09-03 15:51] sheribyrne opened #335 "Need a "# of days remaining to finish" reminder somewhere"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-09-03 16:10] sheribyrne opened #336 "When someone fails a section of the text give them a link immediately back to the material that covered it"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-09-03 16:52] sheribyrne opened #337 "Skip to Content link not present on 15.B failure details"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-09-04 19:03] AnnMarieDavis opened #338 "Change needed to answer sheet for 16.B"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [x] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
There is an issue with the adequacy of the transcript on this test page. The only options are Transcript button or

[2019-09-05 00:23] sheribyrne opened #339 "Pretty sure this answer is wrong (but it was the most right of the answers) 503.4"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-09-05 13:49] drewnielson commented on #333
This is related to issue #276. @AnnMarieDavis, it looks like you marked that as verified on dev, but you verified it was fixed for the practice exam, not for the incremental exam that the original issue related to.

[2019-09-05 13:54] drewnielson commented on #333
@mikebarklage, we've had a couple students get tripped up on this one over the past couple days, so let's just deploy this one as soon as it is fixed and verified.

[2019-09-05 15:38] smustgrave commented on #334
Same issue here.

[2019-09-05 16:31] drewnielson commented on #334
@dduncan16 and @smustgrave, I provided a response in the Q&A question board that might help:
https://training.section508testing.net/mod/forum/discuss.php?d=26#p238

I am also producing a demo to cover the same issue. Please take a look at the Q&A response and let me know (here) if you are still stuck.

[2019-09-05 16:56] mikebarklage commented on #333
OK, default changed from DNA to C on Dev Incrementals.

[2019-09-05 17:10] drewnielson commented on #333
Thanks @mikebarklage. Verified on dev.

[2019-09-05 17:10] #333 closed, assigned to drewnielson, mikebarklage, Tonylayton1

[2019-09-05 22:30] mikebarklage commented on #333
This change has been deployed.

[2019-09-06 12:34] drewnielson commented on #333
Thanks @mikebarklage!

[2019-09-09 15:28] gordonrick opened #340 "Practice exam enrollment issue."

[2019-09-09 15:32] #340 closed, assigned to nobody

[2019-09-09 15:32] gordonrick commented on #340
Disregard

[2019-09-09 16:42] AnnMarieDavis opened #341 "10.D Consider adding another DNA example"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [X] Other, specify...student confusion that links and menus should be programmed as a list

## Description
Student was confused that every navigation menu is expected to be rendered as a list.

## Location

[2019-09-09 18:53] sheribyrne opened #342 "When the captions are bad, is it the video that is failed, the captions, or both?"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-09-11 20:40] Tonylayton1 commented on #338
inconsistency in the exact wording of transcripts across pages. For all three checkbox lists in website 2, update the name of the transcript checkbox to say "Transcript button and transcript window contents" - documents are updated

[2019-09-12 15:41] mikebarklage commented on #338
Updated on Dev, change will appear when your exam data cache has refreshed.

[2019-09-12 16:18] drewnielson opened #343 "Modify Practice Exam Attempt Messages"
OAST has provided updated language to include in messages after submitting exam attempts. Messages attached...

[Congratulations Practice Exam 9 11 19.docx](https://github.com/Section508Coordinators/DHSA-TT-200-A/files/3606499/Congratulations.Practice.Exam.9.11.19.docx)
[Nice Try Practice Exam 9 11 19.docx](https://github.com/Section508Coordinators/DHSA-TT-200-A/files/3606500/Nice.Try.Practice.Exa

[2019-09-12 19:25] KRGould opened #344 "508 issue with Incremental Practice Exam Topic 2"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [X ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description

Section 508 Trusted Tester Incremental Practice Exa

[2019-09-12 22:33] sheribyrne opened #345 "Probably a bad idea to send out completion certificates as editable doc files?"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-09-13 04:19] mikebarklage commented on #343
Updated on Dev.

[2019-09-13 12:24] drewnielson commented on #345
Thanks Sheri. We'll add this as a future enhancement. We aren't as concerned about the Trusted Tester course completion certificate as much as we are about the certificate that we provide after completion of the Certification Exam. We manage the issuance of that certification a bit differently.

[2019-09-13 12:38] drewnielson commented on #344
@mikebarklage, although the "Physical Health On Hold" text in incremental exam 2 is well outside of the 3 flashes per second threshold that would classify as "flashing" per WCAG, it is still true that some people with high sensitivity could still be affected. For the failure instances where the "Physical Health On Hold" text fails for Test ID 2.B, can we make the text scroll across the screen inst

[2019-09-13 12:45] drewnielson commented on #342
Sorry for not seeing this sooner, Sheri. In the incremental exam, when 17.A fails, select the "Closed Captions button and caption text" option. We'll also look for the best place in the course/exam to clarify that.

[2019-09-13 13:03] drewnielson commented on #339
Sorry Sheri, but I haven't been able to identify the issue. Your screenshot displays a portion of the screen for Question 3, which is related to the purpose of the test for 17.B, (the multimedia provides an equivalent soundtrack for the video content). I also reviewed all of the question variants and answers that might be presented in the first 3 questions of the quiz, and I wasn't able to find a

[2019-09-13 13:03] #339 closed, assigned to nobody

[2019-09-13 13:08] drewnielson commented on #337
Acknowledged - the skip to content link is not available as an option for the 15.B, which would indicate it is not the correct answer. However, we do not intend to include it as a response option for that particular exam/page.

[2019-09-13 13:08] #337 closed, assigned to nobody

[2019-09-13 13:18] drewnielson commented on #335
Thanks Sheri. We are not currently enforcing the 140-day limit. Nevertheless, we will begin enforcing course-specific limits, and it would be helpful to display that somewhere for students or at least display their date of enrollment. We are currently assessing a system upgrade that might help us address this issue.

In the meantime, @katbecker, could you look into whether we can modify the dashbo

[2019-09-13 13:55] #331 closed, assigned to drewnielson

[2019-09-13 14:08] drewnielson commented on #330
Thanks. Fixed.

[2019-09-13 14:08] #330 closed, assigned to nobody

[2019-09-13 14:14] drewnielson commented on #329
Sorry for not getting to this sooner @jrautio. Just to clarify, are you referring to the video located in [Topic 4, Lesson 3, Failing Example 2](https://training.section508testing.net/mod/book/view.php?id=1229&chapterid=2691)?

Unfortunately, I can't identify any issue with the video on my end. Can you give me any more details? What browser are you running, and are you on a computer behind a gover

[2019-09-13 17:07] Tonylayton1 commented on #338
verified on dev

[2019-09-13 18:20] Tonylayton1 commented on #343
verified on dev

[2019-09-13 19:14] drewnielson commented on #338
verified on dev

[2019-09-13 19:14] #338 closed, assigned to drewnielson, mikebarklage, Tonylayton1

[2019-09-13 19:41] drewnielson commented on #343
verified on dev

[2019-09-13 19:41] #343 closed, assigned to mikebarklage, Tonylayton1

[2019-09-16 13:55] AnnMarieDavis opened #346 "10.B not being correctly marked as a failure"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [X] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
10.B should be a failure when the ANDI Output does not match the visual heading.
![10 B answer sheet error](https:/

[2019-09-17 11:40] AnnMarieDavis opened #347 "Captions for videos blocking content in Edge"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [X] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
Student Jonathan Ma reported on 9/16
For the Video in the About Registration Page, when I view the video on Chrome,

[2019-09-17 18:23] IzabellaC opened #348 "ANDI does not display iFrames option on Chrome"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-09-19 13:46] AnnMarieDavis opened #349 "5.F User identified issue with error identification"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [X] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
If you attempt to submit the form and the Device ID*

[2019-09-19 18:58] mikebarklage commented on #288
This was implemented and deployed a couple of weeks ago - all 19.A Practice answers are False.

[2019-09-19 23:18] mikebarklage commented on #344
I have updated this on Dev.

[2019-09-20 00:07] mikebarklage commented on #347
OK, I have "fixed" this on Dev by adjusting the margins/padding until the captions are below the in-video text in Edge and below the video entirely in FF/Chrome, just like on the Final Exam. I also had to split "If you are concerned about the security of your personal information" into 2 separate captions.

[2019-09-20 17:56] AnnMarieDavis opened #350 "12.D Error on answer sheet"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [X] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
 Osheen Shrivastav reported - I am having trouble with 12.D test case in practice exam. 12.D indicates that if an i

[2019-09-23 22:55] elogle opened #351 "Topic 16a, audio only examples do not display transcript"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-09-25 13:21] laurastewart-work opened #352 "12.C - Do Titles need to be unique? (Frame vs. page)"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ X ] Other, specify...[replace this text with your issue type description]

## Description
Do Titles need to be unique?  If a frame title is t

[2019-09-25 14:33] AnnMarieDavis opened #353 "15.B Answer sheet updates"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [X] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
Answer sheet issues:

1. Correct spelling of Thump-Print List to Thumb-Print List

1. Change instructions at the to

[2019-09-25 18:06] Josh-Octo opened #354 "Course Error Please Fix!!!"
I am currently taking the 508 TT course and I have been stuck on one practical test question for hours.

Please provide assistance. I have tried every answer combination many times over and have had no luck. This course is extremely difficult because of its testing method. There is no reason a user should get locked into a single question with no way to go past or receive help. The UX is horrible.

[2019-09-25 23:31] mikebarklage commented on #353
Fixed on Dev.

Also bear in mind, this will change the instructions for 15.B on all exams, not just the practice.

[2019-10-01 16:06] anujautt opened #355 "ANDI does not catch anything in my application"
Hi,
my application is hosted in another portal application. When I run ANDI on my application it only identifies issues in the portal application. Is there a way to use ANDI for the hosted application?
Thanks for you help.
![ANDI output](https://user-images.githubusercontent.com/56039502/65979733-cb85dc00-e443-11e9-8ef0-c4670b81e071.PNG)

[2019-10-02 21:00] Tonylayton1 commented on #353
verified on dev

[2019-10-02 21:07] Tonylayton1 commented on #344
verified on dev

[2019-10-02 21:11] Tonylayton1 commented on #347
verified on dev

[2019-10-02 21:13] Tonylayton1 commented on #350
we removed it from the tab index in response to a previous update, where the desire was that the iframe did not receive focus. I believe we reversed this in the final exam. This is not meant to be DNA as the iframe is on the page for the purspose of testing the iframe name.

[2019-10-02 21:17] Tonylayton1 commented on #349
This was by design. The user must enter device type and device ID in order to get the confirmation code. If they follow this error message, they will attempt to "get code" which will tell them they must enter their device ID and Type.

[2019-10-02 21:24] Tonylayton1 commented on #346
the aria output should not be wrong. Update the aria labeled by to match the text of the header.

[2019-10-02 23:40] mikebarklage commented on #346
Fixed.

[2019-10-03 15:59] vprentice opened #356 "13.B Incremental Exam Error"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [x ] Incorrect content (Incremental Exam)
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
One of our students ( Ian Strahan

[2019-10-03 16:44] drewnielson commented on #355
Hi @anujautt. ANDI actually has a separate repository and issues list in GitHub: https://github.com/SSAgov/ANDI/issues.

There certainly are some limitations, and the Social Security Administration is working on addressing some of them. Please post this issue in the ANDI repository/issues list, so they can identify how to potentially resolve.

[2019-10-03 16:44] #355 closed, assigned to nobody

[2019-10-03 17:03] drewnielson commented on #356
@AnnMarieDavis, did we already have some conversation about this? Agreed that we should probably update to a Pass as the default answer.

[2019-10-03 17:15] drewnielson commented on #354
Hi @Josh-Octo. Sorry for your frustration, and sorry for not being able to address this issue sooner. It will be difficult for me to pinpoint a particular issue from your broad description, but I would be happy to schedule a time to pull up some of your individual exam attempts and walk through them to identify whether the exam is scoring the attempt correctly. Do you have some availability tomorr

[2019-10-03 17:35] drewnielson commented on #352
Hi @laurastewart-work - sorry for not being able to get to this earlier.

No, test ID 12.C evaluates the title attribute of a `<frame>` element (i.e., `<frame title="...">`), whereas 12.A deals specifically with page titles (i.e., the inner text of a `<title>` element). It is not a problem if the value of a `title` attribute for a `<frame>` element (e.g., `<frame title="My Content">`) uses the sam

[2019-10-03 17:35] #352 closed, assigned to drewnielson

[2019-10-03 17:41] drewnielson commented on #351
Hi @elogle - I'm having a hard time pinning down the issue you submitted. Can you tell me what page in the course (perhaps the URL) and which video is not displaying a transcript?

For each of the audio-only examples on the 16.A, Passing Examples page (https://training.section508testing.net/mod/book/view.php?id=1270&chapterid=3083), it looks like the transcripts are displaying properly. Is that th

[2019-10-03 18:47] Tonylayton1 commented on #346
verified on dev

[2019-10-03 18:49] Tonylayton1 commented on #350
Woops! Should have added: remove the -1 tab index from the iframe to match what we did in the final exam

[2019-10-03 19:06] Josh-Octo commented on #354
Hi,

I would love to go over some if the issues I’ve found. I should have some time tomorrow after 2:30. Next week is fine as well. Let me know what works for you.

Thanks,
Josh

Joshua Wilson
Octo Consulting | Manager
tel | mobile (757) 338-7654
joshua.wilson@octoconsulting.com<https://mailto:joshua.wilson@octoconsulting.com>
[/var/folders/t8/9m0n7jbd3mx91s5_tp_g2h_40000gp/T/com.microsoft.Outlook

[2019-10-03 20:36] mikebarklage commented on #350
Updated on Dev.

[2019-10-04 17:42] Tonylayton1 commented on #350
verified on dev

[2019-10-05 19:55] elogle opened #357 "Topic Ten Content Structure, determinable heading"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [X ] Incorrect content
- [X ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
According to the test process for Content Structure

[2019-10-09 13:35] skalbag007 opened #358 "Score not showing up - stuck on Loading Score after 1st attempt"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [X] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
After I finished my first attempt when I clicked on S

[2019-10-09 21:48] jaunitageorge123 opened #359 "Resetting my scores"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ X] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
The practice exam in the course reset my saved respo

[2019-10-10 13:46] drewnielson commented on #353
verified on dev

[2019-10-10 13:46] #353 closed, assigned to drewnielson, mikebarklage, Tonylayton1

[2019-10-10 13:48] drewnielson commented on #350
verified on dev

[2019-10-10 13:48] #350 closed, assigned to drewnielson, Tonylayton1

[2019-10-10 13:49] #288 closed, assigned to drewnielson

[2019-10-10 13:51] #292 closed, assigned to drewnielson, AnnMarieDavis

[2019-10-10 13:57] drewnielson commented on #344
verified on dev

[2019-10-10 13:57] #344 closed, assigned to mikebarklage, Tonylayton1

[2019-10-10 14:02] drewnielson commented on #347
verified on dev

[2019-10-10 14:02] #347 closed, assigned to drewnielson, mikebarklage, Tonylayton1

[2019-10-10 14:07] drewnielson commented on #346
verified on dev

[2019-10-10 14:07] #346 closed, assigned to drewnielson, mikebarklage, Tonylayton1

[2019-10-10 14:09] #349 closed, assigned to drewnielson, AnnMarieDavis

[2019-10-10 14:10] drewnielson commented on #349
@AnnMarieDavis, let's just make sure we make a note of this just in case we get the same question from other students later.

[2019-10-10 14:15] drewnielson commented on #358
@skalbag007, thanks for noting the issue.

@mikebarklage, this is the same issue as described in [DSP-75](https://neweditions.atlassian.net/secure/RapidBoard.jspa?rapidView=84&projectKey=DSP&modal=detail&selectedIssue=DSP-75), in the JIRA issues list.

[2019-10-10 14:18] drewnielson commented on #359
@jaunitageorge123, sorry for the inconvenience, but thanks for the noting the issue.

@mikebarklage, any chance this is related to #358 and [DSP-75](https://neweditions.atlassian.net/secure/RapidBoard.jspa?rapidView=84&projectKey=DSP&modal=detail&selectedIssue=DSP-75)?

[2019-10-10 14:20] jaunitageorge123 commented on #359
That’s fine. If this happens during the final exam, will I be held to the three attempt limit? I just want to make sure that I have the opportunity to pass, if possible. 😊

Jaunita George, Esq., PMP
Senior Consultant
Enterprise Resource Performance, Inc. (ERPi)
jgeorge@erpi.net<mailto:jgeorge@erpi.net> | (703) 424-5019 (work cell) or (206) 778-1882 (personal cell) | www.erpi.net<http://www.erpi.ne

[2019-10-10 14:21] drewnielson commented on #357
@elogle, thanks for noting the issue. We are also tracking the issue under issue #346. We have it fixed in our dev environment and will release to production shortly. Closing this issue in favor of #346. Noting as resolved pending deployment to production.

[2019-10-10 14:21] #357 closed, assigned to nobody

[2019-10-10 15:10] drewnielson commented on #359
@jaunitageorge123, unfortunately, we don't have a way to modify the attempt limit mid-exam, but if this does happen while you are in the final, let me know, and we can certainly come up with a way to make some accommodation on attempts.

[2019-10-10 15:11] jaunitageorge123 commented on #359
Thank you! 😊

Jaunita George, Esq., PMP
Senior Consultant
Enterprise Resource Performance, Inc. (ERPi)
jgeorge@erpi.net<mailto:jgeorge@erpi.net> | (703) 424-5019 (work cell) or (206) 778-1882 (personal cell) | www.erpi.net<http://www.erpi.net/>
[ERPi_log_email]
A Service-Disabled Veteran-Owned Small Business (SDVOSB)

From: Andrew Nielson <notifications@github.com>
Sent: Thursday, October 10, 2019

[2019-10-10 15:13] drewnielson commented on #354
Noted design recommendations separately. Closing this specific issue.

[2019-10-10 15:13] #354 closed, assigned to drewnielson

[2019-10-10 15:14] #334 closed, assigned to nobody

[2019-10-10 15:16] drewnielson commented on #329
@jrautio, closing this issue since I wasn't able to pin down the problem. Happy to re-open if you can give me a little more info to help identify the specific issue.

[2019-10-10 15:16] #329 closed, assigned to drewnielson

[2019-10-10 15:19] drewnielson commented on #305
@AnnMarieDavis, I thought we had Subash fix this. I'll send it his was again to ask him to fix.

[2019-10-10 15:23] drewnielson commented on #348
@IzabellaC, very sorry for not seeing this when you originally posted. ANDI will only display the iframes module in the "Select Module" list if an iframe is present on the page. The behavior is the same in all browsers. If it is not displayed in the "Select Module" list, then ANDI has not detected an iframe. Please verify that you are testing the same page that contains an iframe and, if possible,

[2019-10-10 15:28] IzabellaC commented on #348
Hi Andrew, Thanks for your reply. It was not clear to me at the time that
is ANDI's behavior. All good now and works as supposed to.
My other concern though is that some sites I am testing have security rules
and ANDI will not run. What is the remedy for this?

On Thu, Oct 10, 2019 at 11:23 AM Andrew Nielson <notifications@github.com>
wrote:

[2019-10-10 15:45] drewnielson commented on #348
@IzabellaC, there are a few options to get around those security issues that block ANDI from loading (listed in order of ease of implementation):
* Test the page using IE 11 or earlier (because the browser itself is less secure, it doesn't have the same safeguards that the modern browsers do, and it allows ANDI to run anyway).
* Ask the site administrator to modify their site's Content Security Po

[2019-10-10 15:45] #348 closed, assigned to drewnielson

[2019-10-10 16:17] IzabellaC commented on #348
Andrew, thank you so much. This is extremely helpful.

On Thu, Oct 10, 2019 at 11:46 AM Andrew Nielson <notifications@github.com>
wrote:

[2019-10-10 16:23] mikebarklage commented on #359
"any chance this is related to #358 and DSP-75?"

That doesn't seem likely, although - if this is the exam submitted at 2019-10-10 00:29:22 - prior answers appear to have been recorded properly, maybe just not displaying. Page 1 Topics 2 & 4 and all Topics on Page 3 have been answered; Page 1 Topic 5 thru all of Page 2 has been left blank.

[2019-10-10 17:51] jaunitageorge123 commented on #358
I'm also having the same issue with the practice exam. :(

![image](https://user-images.githubusercontent.com/56369808/66593463-0cc56c80-eb65-11e9-888d-14f5449107c7.png)

[2019-10-10 18:28] mikebarklage commented on #358
Are the users receiving the confirmation email in any of these cases?

[2019-10-10 18:48] drewnielson commented on #358
@mikebarklage, the one other student who reported the issue said he did NOT receive the email confirmation, but he never received any emails for any attempt.

@skalbag007 and @jaunitageorge123, what about you - did either of you receive the confirmation email listing your missed Test IDs?

[2019-10-10 19:27] jaunitageorge123 commented on #358
I ended up receiving it, but I’m not sure the test IDs were correct – for the score I received (87% in one case and 92% in another), there appeared to be a lot of incorrect responses. I’d really like to know what I did improperly.

Any chance I can schedule a time to discuss my results on the practice exam before I take the final?

Jaunita George, Esq., PMP
Senior Consultant
Enterprise Resource Pe

[2019-10-10 19:31] jaunitageorge123 commented on #358
Just for reference, here's what they sent as my incorrect test results when I scored a 92%:

Incorrect Test IDs are listed below:
12.B - The <title> element identifies the contents or purpose of the Web page.
13.A - Color is not used as the only visual means of conveying information, indicating an action, prompting a response, or distinguishing a visual element.
13.B - Instructions provided for un

[2019-10-10 21:03] drewnielson commented on #358
@jaunitageorge123, we normally aren't offering 1 on 1 reviews any more, but I would be happy to make an exception. Please contact the DHS Accessibility Helpdesk (202-447-0440 | accessibility@hq.dhs.gov), and they can schedule a review session with me.

[2019-10-10 21:05] jaunitageorge123 commented on #358
Thank you so much! I’ll give them a call first thing in the morning. 😊

Jaunita George, Esq., PMP
Senior Consultant
Enterprise Resource Performance, Inc. (ERPi)
jgeorge@erpi.net<mailto:jgeorge@erpi.net> | (703) 424-5019 (work cell) or (206) 778-1882 (personal cell) | www.erpi.net<http://www.erpi.net/>
[ERPi_log_email]
A Service-Disabled Veteran-Owned Small Business (SDVOSB)

From: Andrew Nielson <

[2019-10-11 14:32] JRNPW opened #360 "Keyboard Access > Failing Example 2 > Sample page not keyboard accessible on Firefox"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [X] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
On Example 2 of "Keyboard Access Failing Examples," t

[2019-10-11 17:28] JRNPW opened #361 "Keyboard Trap > Passing Example 1 > Inconsistent behavior on Firefox"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [X] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-10-11 18:29] drewnielson commented on #361
@JRNPW, thanks for noting your suspected issues. I am able to navigate to the links and buttons without issue using Firefox. Can you give me more details about your user environment, e.g., version of Firefox, OS? Do you notice the same behavior on any other websites (where you can navigate to links in another browser, but not in Firefox)? I do notice that the visible indication of focus is not as

[2019-10-11 18:34] JRNPW commented on #361
You're welcome, Drew. I'm using Firefox 69.0.2 on macOS Mojave (10.14.6). I just double-checked, and the focus completely skips the "Course Topics" link. I agree that the visible indication isn't as clear, but it skips from "Browse" to "New Folder." I could probably capture a video if you want to see it in action.

[2019-10-11 19:33] drewnielson commented on #361
@JRNPW thanks! Certainly seems like odd behavior. I'll have to dig in a little more and dig up our Mac again as well. No need to grab a video, but thanks for confirming.

[2019-10-11 19:35] drewnielson commented on #360
@JRNPW this obviously seems related to issue #361 that you also noted. Would you mind confirming in this case too that it is indeed an keyboard access issue and not a visible focus issue. Just haven't been able to replicate with my version of Firefox.

[2019-10-17 18:32] istrahan-aspiritech opened #362 "Certification Exam - "Using the Course Interface" page gives incorrect info about number of attempts allowed"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [X] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...

## Description
The "Using the Course Interface" page in the Course Introduction for the certification exam incorrectly says that the user can retake the exam an unlimited number of t

[2019-10-17 18:57] drewnielson commented on #362
@istrahan-aspiritech, thanks for pointing that out. I thought we had already fixed that. Just updated the language.

[2019-10-17 18:57] #362 closed, assigned to nobody

[2019-10-18 19:35] LydiaSchuck opened #363 "Hi I have completed my second attempt on the final exam. I went to page 4 to submit. I pressed submit. The screen changed to page 5. I have now been waiting at least five minutes for my score to load. Help!"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [x] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-10-20 19:01] KimKWee opened #364 "Error with Practice Exam"
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [X ] System Bug (the course doesn't function properly)
- [ ] Typo

[2019-10-21 11:47] makader86 opened #365 "Error in Trusted Tester - Certification Exam for Web on Windows"
I am try to attempt to final exam but the page has error and is not available for exam
Please see error below that error

**Certification Exam
An error occurred when launching the external tool:Sorry, there was an error connecting you to the application.**

[2019-10-21 11:51] KimKWee commented on #364
I was able to get in to retake the practice exam (after refreshing the page several times) however was not able to get in again after that. Was hoping to get in this morning thinking the system just needed a break but wasn't the case (smile).

[2019-10-21 12:34] drewnielson commented on #363
@LydiaSchuck, very sorry for the issue. Try to log out, then log back in again and launch the exam. Review your results to make sure they were all saved. Then you should be able to submit again. Let me know if you still have an issue.

[2019-10-21 12:35] drewnielson commented on #364
@KimKWee sorry for the issue. Thanks for raising it. We're looking into the cause.

[2019-10-21 12:36] drewnielson commented on #365
@makader86 sorry for the issue. Thanks for raising it. We are looking into the cause.

[2019-10-21 12:41] ChrisLoiselle opened #366 "passed certification exam, however when I log in fresh to see my "exam wrap up" it states an error occurred."
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [x] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-10-21 12:46] drewnielson commented on #366
@ChrisLoiselle sorry for the inconvenience - we are definitely experiencing some issue with the external exam engine tool. Working on fixing it. The Accessibility Help Desk will send out an update to students once we get it fixed.

[2019-10-21 15:54] mikebarklage commented on #364
Unfortunately, this is the default message the LTI library uses for every error, so that doesn't tell us much.

Again, I don't have access to the exams on Pilot Dev - I did at some point, but not anymore - so I can't try to launch one. Can anyone at OAST launch an exam, and do you also see this message?

Otherwise, my initial advice for this (and the scoring page issue) is to get Moonami involved

[2019-10-21 16:10] drewnielson commented on #364
Mike, those were my screenshots, so definitely confirmed that I’m seeing
the same issue. I see that you are enrolled in the courses (with the pilot
dev exams). Let me know if you need a password reset. .

[2019-10-21 16:16] LydiaSchuck commented on #363
It worked. And then I passed over the weekend. Thanks for your help.

________________________________
From: Andrew Nielson <notifications@github.com>
Sent: Monday, October 21, 2019 8:34 AM
To: Section508Coordinators/DHSA-TT-200-A <DHSA-TT-200-A@noreply.github.com>
Cc: Lydia Anne Schuck <lydia.a.schuck@wmich.edu>; Mention <mention@noreply.github.com>
Subject: Re: [Section508Coordinators/DHSA-TT-20

[2019-10-21 16:16] mikebarklage commented on #364
Enrolled, yes, but without access unless I actually go through the entire course:

![ttw](https://user-images.githubusercontent.com/50433189/67223063-6c343f80-f3e3-11e9-8976-336484866328.jpg)

[2019-10-21 16:26] mikebarklage commented on #364
I am seeing the error when I try to launch the admin tool, though.

[2019-10-21 16:32] mikebarklage commented on #364
Based on this, I think Moonami's system clock is out of sync again:

lti_errorlog=Debug+error%3A+OAuth+signature+check+failed+-+perhaps+an+incorrect+secret+or+timestamp.

[2019-10-21 17:34] drewnielson commented on #364
Thanks @mikebarklage. I see you copied John Porten on the system clock sync issue. I'll forward that along to Moonami Support as well. I also just fixed your issue with course access from the Dashboard. You should see the links to the courses from the Dashboard now.

[2019-10-21 17:38] drewnielson commented on #363
OK, great. Congrats on passing!

[2019-10-21 17:38] #363 closed, assigned to mikebarklage, Tonylayton1

[2019-10-21 17:41] mikebarklage commented on #364
Yep, I can get into the exams now (or will when the clock issue is fixed). Thanks!

[2019-10-22 14:24] ChrisLoiselle commented on #366
I log into the TT dashboard, go to the exam page that has an X listed, follow that link and the page reads as:
No Further Attempt Needed!

You already passed the Exam.

I then go to the TT exam course dashboard and follow the exam follow up
Exam Wrap-up
 Trusted Tester Web on Windows Certification Exam SurveyURL
Not available unless: The activity Certification Exam is complete and passed

I can't

[2019-10-22 14:42] drewnielson commented on #366
Sorry Chris. With the exam engine down yesterday, it looks like the core course application just didn't get the communication back on your final attempt score. I updated your score manually, so you should be able to get to the exam survey now, and the course status should show up as passed on your dashboard. Congrats on passing!

[2019-10-22 14:42] #366 closed, assigned to nobody

[2019-10-22 14:43] drewnielson commented on #364
System clock sync issue fixed. Exams available.

[2019-10-22 14:43] #364 closed, assigned to mikebarklage, Tonylayton1

[2019-10-22 14:44] drewnielson commented on #365
System clock sync issue fixed. Exams available.

[2019-10-22 14:44] #365 closed, assigned to mikebarklage, Tonylayton1

[2019-10-22 14:53] AbdiHussein1 opened #367 "Is the practice exam passing grade calculation offset? The Total Practice exam questions are 37. First screen 11 Questions, Second screen 12 Questions, Third screen 14 questions. I took the test and received 79% with the 27 incorrectly answered, which means I only answered correctly 10 and received failing score of 79%. Nice Try! You scored 79% on the Practice Exam."
[If you haven't already, please review the [Guidelines for Contributing](contributing.md) in the main folder of this repository before submitting any issues. You can delete this paragraph and other text that is not necessary before submitting your issue.]

## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/

[2019-10-22 15:05] ChrisLoiselle commented on #366
thank you! do you still send out tt certs from oast that I could hang on my wall of fame?

[2019-10-22 15:30] drewnielson commented on #366
Yep - it might take a few days, but the Accessibility Help Desk will send you a certificate with your new Trusted Tester ID.

[2019-10-22 15:38] drewnielson commented on #367
@AbdiHussein1, the practice exam includes the correct answers from your previous attempts to calculate your cumulative score. So after your first attempt, even though you only have to provide answers for questions you previously missed, all of your correct answers are added to the correct answers on your subsequent attempts to give you a total score.

In the future, please submit your questions us

[2019-10-22 15:38] #367 closed, assigned to nobody

[2019-10-22 17:09] AbdiHussein1 commented on #367
Hi Andrew,
Thanks for the prompt response. Just to make sure I understand you well. Are you saying these are the questions that I correctly answered.

And I should ignore the line below that says incorrectly answered. I will post my questions on the QA from now on.

Warm regards,

Abdi.

Incorrectly answered Test IDs below:

2.C - The user can pause, stop, hide, or control the frequency of automat

[2019-10-22 17:47] AbdiHussein1 commented on #367
Please disregard my last email. My apology.

________________________________

From: Andrew Nielson <notifications@github.com>
Date: October 22, 2019 at 11:44:27 AM EDT
To: Section508Coordinators/DHSA-TT-200-A <DHSA-TT-200-A@noreply.github.com>
Cc: Hussein, Abdirahman <Abdirahman.Hussein@fda.hhs.gov>, Mention <mention@noreply.github.com>
Subject: Re: [Section508Coordinators/DHSA-TT-200-A] Is the p

[2019-10-22 23:52] nguyenlha opened #368 "9C Accessible name and description consistent identification incremental exam"
## Issue Type (put a capital X between the brackets to indicate issue type)
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ X] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [ ] Other, specify...[replace this text with your issue type description]

## Description
Selecting the failure options for both the "link" li

[2019-10-24 14:31] JRNPW commented on #360
Sorry for the delay, @drewnielson; other work priorities outranked my training for the last several days.

Yes, this definitely still happens (as of a few moments ago) on Firefox version 70 on macOS Mojave. Fwiw, I've had the same issue with a web app that we're developing: Elements on a page that are keyboard-accessible in Chrome are NOT accessible on Firefox (and also on Safari). I've raised bug

[2019-10-24 18:12] drewnielson commented on #360
No problem. Thanks for following up. This will definitely require some continued investigation.

[2019-10-28 19:04] sdwaram1 opened #369 "5.E - 4.1.2-change-notify-form"
5.E - 4.1.2-change-notify-form

I am stuck in the 5.E test. I have tried every possible success and failure options with no success. The error messages on form submission are displayed in a pop up box specifying the format for every form field that needs to be populated which is a pass, Get super-certified ( selecting this will expand additional details below ) with a check box provides the requir

[2019-10-31 19:04] AnnMarieDavis opened #370 "Exam Admin results to include student email"
## Issue Type
- [ ] System Bug (the course doesn't function properly)
- [ ] Typo/grammar
- [ ] Incorrect content
- [ ] 508 issue (something is not accessible according to our own test process)
- [x ] Other, specify..difficulty locating student records when they have similar names

## Description
We are having a difficult time locating student records when they have similar names in the exam admin